@model ExpressMVC.Models.Portfolio.PortfolioListModel
@using ExpressMVC.Models.Common
@using ExpressMVC.SampleData

@Html.ExpressMenu()
 

@Html.ExpressFooter() 


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-2 order-md-1">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="image-frame">
                            <img src="~/Content/img/portfolio/p_1.jpg" class="img-fluid" alt="" />
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="image-frame">
                            <img src="~/Content/img/portfolio/p_2.jpg" class="img-fluid" alt="" />
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="image-frame">
                            <img src="~/Content/img/portfolio/p_3.jpg" class="img-fluid" alt="" />
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="image-frame">
                            <img src="~/Content/img/portfolio/p_4.jpg" class="img-fluid" alt="" />
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-md-5 order-1 order-md-2 mb-5 mb-md-0">
                <div class="pl-lg-4" data-plugin-sticky data-plugin-options="{'offset_top': 100}">
                    <div class="row mb-3">
                        <div class="col">
                            <span class="top-sub-title text-color-primary">WEBSITE CREATION</span>
                            <h1 class="font-weight-bold mb-3">Express Website</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Phasellus blandit massa enim. Nullam id varius. Lorem ipsum 
                            dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius dolor sit amet elit.</p>
                            <p>
                                Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consechasellus blandit massa enim.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="top-sub-title">DATE</span>  <br />
                            <span class="font-primary text-color-dark font-weight-bold text-2">March, 2018</span>
                            <hr class="my-2 mb-4">
                        </div>
                        <div class="col-md-12">
                            <span class="top-sub-title">SERVICES</span>  <br />
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2 mb-2">DESIGN</a></li>
                                <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2 mb-2">BRAND</a></li>
                            </ul>
                            <hr class="my-2 mb-4">
                        </div>
                        <div class="col-md-6 mb-md-0">
                            <span class="top-sub-title">CLIENT</span> <br />
                            <span class="font-primary text-color-dark font-weight-bold text-2">WrapBootstrap</span>
                        </div>
                        <div class="col-md-6">
                            <span class="top-sub-title">LINK</span> <br />
                            <a href="http://www.wrapbootstrap.com/" class="link font-primary text-color-primary font-weight-semibold text-2">www.WrapBootstrap.com</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="my-0 opacity-5">
<div class="container">
    <div class="row align-items-center justify-content-between py-4">
        <div class="col-auto">
            <a href="@Url.Action("Detail", "Portfolio", new { id = 2 })">
                <div class="d-flex align-items-center">
                    <i class="lnr lnr-arrow-left text-color-primary text-4 mr-3"></i>
                    <div class="d-none d-md-block">
                        <span class="top-sub-title text-color-primary">PREVIOUS PROJECT</span>
                        <h4 class="font-weight-bold text-3 mb-0">Express Brand Conception</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto text-center">
            <ul class="breadcrumb justify-content-center mb-0">
                <li><a href="#">Home</a></li>
                <li class="active">Portfolio</li>
            </ul>
            <a href="@Url.Action("Masonry3Columns", "Portfolio")" class="link-color-dark font-weight-bold text-2">
                <i class="fas fa-th-large mr-1" aria-label="view all"></i>
                VIEW ALL
            </a>
        </div>
        <div class="col-auto">
            <a href="@Url.Action("Detail", "Portfolio", new { id = 3 })">
                <div class="d-flex align-items-center">
                    <div class="text-right d-none d-md-block">
                        <span class="top-sub-title text-color-primary">NEXT PROJECT</span>
                        <h4 class="font-weight-bold text-3 mb-0">Express Brand Conception</h4>
                    </div>
                    <i class="lnr lnr-arrow-right text-color-primary text-4 ml-3"></i>
                </div>
            </a>
        </div>
    </div>
</div>

<hr class="my-0 opacity-5">
<section class="section bg-light-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <span class="top-sub-title text-color-primary">THE RIGHT CHOICE</span>
                <h2 class="font-weight-bold">Related Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              

                @{
                    var portfolioModel = PortfolioData.GridData;
                    portfolioModel.PageSize = 4;
                    portfolioModel.UIProps.ColumnCount = 4;
                    portfolioModel.UIProps.ShowFilter = false; 
                    portfolioModel.UIProps.ShowPaginations = false;
                    }
                    @Html.ExpressPortfolio(portfolioModel)


            </div>
        </div>
    </div>
</section>




