@using ExpressMVC.SampleData
@using ExpressMVC.UI
@using ExpressMVC.Models.Shortcodes

@Html.ExpressMenu()

@Html.ExpressBanner(name: "WeAre")

@Html.ExpressSection(new SectionModel() { HasContainerAndRow = true, Height = SectionHeight.Height4 },
    @<text>
        <div class="col-md-4 col-sm-6">
            @Html.ExpressSectionTitle("Key <br /> Features")

            @Html.ExpressSectionSubTitle("Express uses valid and clean code so that you make sure that Google and other search engines will love it.")
        </div>

        <div class="col-md-4 col-sm-6">
            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Bootstrap 4 Interface",
                    SubTitle = "LOREM IPSUM DOLOR SIT",
                    Content = "No matter how complex your project is, Express for teams makes it easy to share your entire development stack with anyone, anywhere.",
                    Icon = Icons.FontAwesome.Eye,
                    UIProps = { Style = IconBoxStyle.Style3 }
                })

            @Html.ExpressSpace(Size.Large)

            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Speed Optimized",
                    SubTitle = "LOREM IPSUM DOLOR SIT",
                    Content = "Class aptent taciti sociosqu ad litora torquent per <a href='#'>conubia</a> nostra, per inceptos aptent taciti semper himenaeos aptent nostra taciti.",
                    Icon = Icons.FontAwesome.Shower,
                    UIProps = { Style = IconBoxStyle.Style3 }
                })
        </div>

        <div class="col-md-4 col-sm-6">
            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "SEO Optimized",
                    SubTitle = "LOREM IPSUM DOLOR SIT",
                    Content = "Class aptent taciti sociosqu adlitora torquent per conubia nostra for teams makes it for teams makes it, per ulla nunc dui, your project is tristique semper.",
                    Icon = Icons.FontAwesome.Fire,
                    UIProps = { Style = IconBoxStyle.Style3 }
                })

            @Html.ExpressSpace(Size.Large)

            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Bootstrap Toolkit Interface",
                    SubTitle = "LOREM IPSUM DOLOR SIT",
                    Content = "No matter how complex your project is, Express for teams makes it easy to share your entire development stack with anyone, anywhere.",
                    Icon = Icons.LinearIcon.Heart,
                    UIProps = { Style = IconBoxStyle.Style3 }
                })
        </div>
    </text>)

@Html.ExpressSection(new SectionModel() { HasContainerAndRow = true, Height = SectionHeight.Height5, ClassName = "gr-bg-1" },
    @<text>
        <div class="col-md-5">
            <h4 class="text-5 text-white">Check Our Skils</h4>
            @Html.ExpressSectionTitle("Our Skils", TextColor.White)

            @Html.ExpressSectionSubTitle(
           new TextElement("Express uses valid and clean code so that you <br /> make sure that search engines will love it.")
           {
               TextColor = TextColor.White,
               Opacity = Opacity.O_5,
               TextSize = TextSize.Text_4,
               FontWeight = FontWeight.Light
           })

            <button type="button" class="btn btn-primary btn-rounded shadow-5x">See More</button>
        </div>

        <div class="col-md-7 text-white">
            @Html.ExpressProgressBar(new ProgressBarModel() { Value = 25, Label = new TextElement("Javascript", TextColor.White), UIProps = { IsLabelOutside = true } })
            @Html.ExpressProgressBar(new ProgressBarModel() { Value = 45, Label = new TextElement("Photoshop", TextColor.White), UIProps = { IsLabelOutside = true } })
            @Html.ExpressProgressBar(new ProgressBarModel() { Value = 65, Label = new TextElement("Bootstrap", TextColor.White), UIProps = { IsLabelOutside = true } })
            @Html.ExpressProgressBar(new ProgressBarModel() { Value = 75, Label = new TextElement("HTML/CSS", TextColor.White), UIProps = { IsLabelOutside = true } })
            @Html.ExpressProgressBar(new ProgressBarModel() { Value = 95, Label = new TextElement("Javascript", TextColor.White), UIProps = { IsLabelOutside = true } })
        </div>
    </text>)

@Html.ExpressSection(new SectionModel() { Height = SectionHeight.Height4 },
    @<text>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>It’s time to find your project</h4>

                    @Html.ExpressSectionTitle("Choose a plan")

                    @Html.ExpressSectionSubTitle("Express uses valid and clean code so that you make sure <br /> that Google and other search engines will love it.")

                    @Html.ExpressSpace(Size.Large)
                </div>
            </div>
        </div>

         @Html.ExpressWidget(name: "PricingTable")
    </text>)

@Html.ExpressSection(new SectionModel() { HasContainerAndRow = true, Height = SectionHeight.Height4, Src = "/Content/img/mix/services-bg.jpg" },
    @<text>
        <div class="col-md-12  text-white text-center">
            <h5 class="text-color-secondary">ARE YOU READY?</h5>
            @Html.ExpressSectionTitle("Get Started Now", TextColor.White)

            @Html.ExpressSectionSubTitle(
                new TextElement("No matter how complex your project is, Express for teams makes it easy to  <br /> share your entire development stack with anyone, anywhere.") {
                    TextSize = TextSize.Text_4,
                    TextColor = TextColor.White,
                    Opacity = Opacity.O_5
                })
        </div>

        <div class="col-md-12 text-center">
            <div class="clearfix mt-40">
                <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-diamond"></i> Get in touch</a>
            </div>
        </div>
    </text>)


@Html.ExpressSection(new SectionModel() { Height = SectionHeight.Height4 },
    @<text>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 class="fs-18 fw-5 pt-50 mb-0">It’s time to find your project</h4>

                    @Html.ExpressSectionTitle("Latest Projects")

                    @Html.ExpressSectionSubTitle("Express uses valid and clean code so that you make sure that Google and other <br /> search engines will love it.")

                    @Html.ExpressSpace()
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row pr-9 pl-9">
                <div class="col-md-12">
                    @{
                        var portfolioModel = PortfolioData.GridData;
                        portfolioModel.PageSize = 8;
                        portfolioModel.UIProps.ColumnCount = 4;
                        portfolioModel.UIProps.ShowFilter = false;
                        portfolioModel.UIProps.ShowPaginations = false;
                    }
                    @Html.ExpressPortfolio(portfolioModel)

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ExpressSpace()

                    <a class="btn btn-dark btn-rounded" href="#"><span class="text"><i class="fa fa-eye ml-0"></i> View Our Works</span></a>
                    <button type="button" class="btn btn-outline-primary btn-rounded"><i class="fa fa-eye ml-0"></i> See Our Features</button>
                </div>
            </div>
        </div>
    </text>)


@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { BGColor = ThemeColor.Primary, Height = CallToActionHeight.Height4 },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})


@Html.ExpressSection(new SectionModel() { Height = SectionHeight.Height4 },
    @<text>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 class="fs-18 fw-5 pt-50 mb-0">It’s time to find your project</h4>

                    @Html.ExpressSectionTitle("Happy Customers")
                </div>
            </div>

            @Html.ExpressTestimonialSlider(TestimonialStyle.Style2,
               new TestimonialsModel()
               {
                   Name = "John Doe",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, " +
                                    " aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               },
               new TestimonialsModel()
               {
                   Name = "Bob Doe",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, " +
                                    " aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               },
               new TestimonialsModel()
               {
                   Name = "Will Smith",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, " +
                                    " aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               })


            <div class="row">
                <div class="col-md-12">

                    @Html.ExpressSpace(Size.Large)

                    @RenderCarousel()

                </div>
            </div>

        </div>
    </text>)

@helper RenderCarousel()
{
    @Html.ExpressCarousel(new CarouselModel() { DisplayCount = 6, UIProps = { Style = CarouselStyle.DotsInside, Margin = 50 } },
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/amazon-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/google-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/lenovo-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/spotify-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/shopify-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/uber-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/stripe-original.svg"> </text>)
}


<section class="pix-business-4">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
                <h4 class="fs-18 fw-5 pt-20 mb-0">It’s time to find your project</h4>

                @Html.ExpressSectionTitle("Online Support")

                @Html.ExpressSectionSubTitle("No matter how complex your project is, Express for teams makes it easy to  <br /> share your entire development stack with anyone, anywhere.")
            </div>

            <div class="col-md-12">

                <div class="clearfix text-center mt-20">
                    <a href="#" class="btn btn-rounded btn-dark mr-2 shadow-5x"><i class="fa fa-check-circle"></i> Join Us Today</a>
                    <a href="#" class="btn btn-primary btn-rounded shadow-5x"><i class="fa fa-diamond"></i> Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</section>


@Html.ExpressSection(new SectionModel() { HasContainerAndRow = true, Height = SectionHeight.Height4, BGLight = BGLight.Light3 },
    @<text>

        <div class="col-md-5">
            @Html.ExpressNewsletterForm()
        </div>

        <div class="col-md-5 offset-md-1">

            @Html.ExpressSpace(Size.Large)

            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Super Faster",
                    Content = "No matter how complex your project is, Express for teams makes it easy to share your entire development stack with anyone, anywhere.",
                    Icon = Icons.FontAwesome.Eye,
                    UIProps = { Style = IconBoxStyle.Style4 }
                })

            @Html.ExpressSpace()

            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Extensive Options",
                    Content = "Vestibule corvallis pulvinar tellus eget ultricies. Sed sollicitudin, sem vitae elementum euismod.",
                    Icon = Icons.FontAwesome.Eye,
                    UIProps = { Style = IconBoxStyle.Style4 }
                })

            @Html.ExpressSpace()

            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Stunning Design",
                    Content = "No matter how complex your project is, Express for teams makes it easy to share your entire development stack with anyone, anywhere.",
                    Icon = Icons.FontAwesome.Eye,
                    UIProps = { Style = IconBoxStyle.Style4 }
                })
        </div>

    </text>)


@Html.ExpressFooter()