@using ExpressMVC.SampleData
@using ExpressMVC.UI
@using ExpressMVC.Models.Shortcodes

@Html.ExpressMenu()

@Html.ExpressRevolutionSlider("demo")


@Html.ExpressSection(new SectionModel() { ClassName = "text-center", HasContainerAndRow = true, Height = SectionHeight.Height4 },
    @<text>
        <div class="col-md-4">
            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Incredibly Responsive",
                    Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel..",
                    Icon = Icons.LinearIcon.Diamond,
                    UIProps = { Style = IconBoxStyle.Style5 }
                })

            <a href="#" class="read-more">Read More</a>
        </div>

        <div class="col-md-4">
            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Fully Customizible",
                    Content = "Stet solum ceteros ad pri, amet alia scripta qui ea. Cum an aeterno efficiantur. Sit nihil detracto et, ut tota aeterno suscipiantur pri.",
                    Icon = Icons.LinearIcon.Heart,
                    UIProps = { Style = IconBoxStyle.Style5 }
                })

            <a href="#" class="read-more">Read More</a>
        </div>

        <div class="col-md-4">
            @Html.ExpressIconBox(
                new IconBoxModel()
                {
                    Title = "Interactive Elements",
                    Content = "Class aptent taciti sociosqu adlitora torquent per conubia nostra, per ulla nunc dui, your project is tristique semper.",
                    Icon = Icons.FontAwesome.Server,
                    UIProps = { Style = IconBoxStyle.Style5 }
                })

            <a href="#" class="read-more">Read More</a>
        </div>

    </text>)



@Html.ExpressSection(new SectionModel() { ClassName = "pb-0 section-bg-stylish-1", BGLight = BGLight.Light4 },
    @<text>

       <div class="container">
           <div class="row">
               <div class="col-md-12 text-center">
                   @Html.ExpressHeading(HTag.h2, new TextElement("Express Is Simple & With Endless Possibilties"), HeadingStyle.NarrowLine, Alignment.Center)

                   @Html.ExpressSectionSubTitle("Responsive & optimized for mobile devices. <br /> Completely without coding skills!")

                   @Html.ExpressSpace()

                   @Html.ExpressAnimation(new AnimationModel() { Type = AnimationType.fadeInUp, Content = "<img src=\"/Content/img/express-view.png\" />" } )

               </div>
           </div>
       </div>
    </text>)


@Html.ExpressSection(new SectionModel(),
    @<text>
       <div class="container">
           <div class="row">
               <div class="col-12 col-sm-6 col-lg-3">
                   @Html.ExpressCounter(
                           new CounterModel()
                           {
                               Label = "Happy Clients",
                               Append = "+",
                               To = 25000,
                               Icon = Icons.FontAwesome.User
                           })
               </div>
               <div class="col-12 col-sm-6 col-lg-3">
                   @Html.ExpressCounter(
                           new CounterModel()
                           {
                               Label = "Years in Business",
                               To = 15,
                               Icon = "lnr lnr-apartment"
                           })
               </div>
               <div class="col-12 col-sm-6 col-lg-3">
                   @Html.ExpressCounter(
                           new CounterModel()
                           {
                               Label = "Answered Tickets",
                               To = 352,
                               Icon = "sl-support sl"
                           })
               </div>
               <div class="col-12 col-sm-6 col-lg-3">
                   @Html.ExpressCounter(
                           new CounterModel()
                           {
                               Label = "Development Hours",
                               To = 178,
                               Icon = "sl-clock sl"
                           })
               </div>
           </div>
       </div>
    </text>)



@Html.ExpressSection(new SectionModel() { IsParallax = true, Height = SectionHeight.Height4, Src = "/content/img/mix/woman-bg.png" },
    @<text>
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center">

                    @Html.ExpressHeading(HTag.h2, new TextElement("The Last Bootstrap Template <br /> You'll Have To Buy"), HeadingStyle.None, Alignment.Center)
                     
                    @Html.ExpressSectionSubTitle("Create Stunning Image Parallax Effects")

                    @Html.ExpressSpace()

                    <a href="#" class="btn btn-dark"><i class="fa fa-hand-o-right"></i> See all Parallax Effects </a>
                </div>
            </div> 
        </div>
    </text>)



@Html.ExpressSection(new SectionModel() { Height = SectionHeight.Height4 },
    @<text>
        <div class="container">
            <div class="row">
                <div class="col-md-6"> 
                    @Html.ExpressAnimation(new AnimationModel() { Type = AnimationType.fadeInUp, Content = "<img src=\"/Content/img/mix/phones1.png\" />" } )
                </div>
                <div class="col-md-6">

                    @Html.ExpressHeading(HTag.h2, new TextElement("We Love what We do!"), HeadingStyle.NarrowLine)

                    @Html.ExpressSectionSubTitle("oothed again, but only soothed to deeper gloom, Ahab, who had sterned off from the whale, sat intently watching his final wanings from the now tranquil boat.")

                    @Html.ExpressSpace()
                     
                    @Html.ExpressProgressBar(new ProgressBarModel() { Value = 45, Label = new TextElement("Photoshop"), UIProps = { IsLabelOutside = true } })
                    @Html.ExpressProgressBar(new ProgressBarModel() { Value = 65, Label = new TextElement("Bootstrap"), UIProps = { IsLabelOutside = true } })
                    @Html.ExpressProgressBar(new ProgressBarModel() { Value = 75, Label = new TextElement("HTML/CSS"), UIProps = { IsLabelOutside = true } })
                    @Html.ExpressProgressBar(new ProgressBarModel() { Value = 95, Label = new TextElement("Javascript"), UIProps = { IsLabelOutside = true } })
                </div>
            </div>
        </div>
    </text>)


@Html.ExpressSection(new SectionModel() { BGLight = BGLight.Light4, ClassName = "section-bg-stylish-1" },
    @<text>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ExpressHeading(HTag.h2, new TextElement("Our Latest Work"), HeadingStyle.NarrowLine, Alignment.Center)

                    @Html.ExpressSpace()
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    @{
                        var portfolioModel = PortfolioData.GridData;
                        portfolioModel.UIProps.ColumnCount = 4;
                        portfolioModel.UIProps.ShowFilter = false;
                        portfolioModel.UIProps.ShowPaginations = false;
                        portfolioModel.UIProps.GapVertical = 10;
                        portfolioModel.PageSize = 4;
                    }
                    @Html.ExpressPortfolio(portfolioModel)
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ExpressSpace(Size.Large)

                    <a class="btn btn-dark" href="#"><span class="text"><i class="fa fa-eye ml-0"></i> View All Projects</span></a> 
                </div>
            </div>
        </div>
    </text>)

 



@Html.ExpressSection(new SectionModel() {  },
    @<text>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ExpressHeading(HTag.h2, new TextElement("What They Says"), HeadingStyle.NarrowLine, Alignment.Center)

                    @Html.ExpressSectionSubTitle("Express uses valid and clean code so that you make sure that Google and other <br /> search engines will love it.")

                    @Html.ExpressSpace()
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    @Html.ExpressTestimonialSlider(TestimonialStyle.Style3,
                new TestimonialsModel()
                {
                    Name = "John Doe",
                    Position = "Position",
                    PhotoSrc = "/Content/img/avatars/a1.jpeg",
                    Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                }, new TestimonialsModel()
                {
                    Name = "Bob Doe",
                    Position = "Position",
                    PhotoSrc = "/Content/img/avatars/a2.jpeg",
                    Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                }, new TestimonialsModel()
                {
                    Name = "Will Smith",
                    Position = "Position",
                    PhotoSrc = "/Content/img/avatars/a3.jpeg",
                    Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                })

                </div>
            </div>
             
        </div>
    </text>)






@Html.ExpressSection(new SectionModel() { BGLight = BGLight.Light4, Height = SectionHeight.Height3, HasBorderTop = true },
    @<text>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    @RenderCarousel()

                </div>
            </div>
             
        </div>
    </text>)


@helper RenderCarousel()
{
    @Html.ExpressCarousel(new CarouselModel() { DisplayCount = 6, UIProps = { Style = CarouselStyle.NavOutSide, Margin = 50 } },
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/google-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/amazon-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/lenovo-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/spotify-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/shopify-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/uber-original.svg"> </text>,
    @<text> <img alt="" class="img-fluid" src="~/Content/img/clients/stripe-original.svg"> </text>)
}



@Html.ExpressFooter()