@model ExpressMVC.Models.Portfolio.PortfolioListModel
@using ExpressMVC.Models.Portfolio
@using PagedList.Mvc;
@using PagedList;

@{
    string showFilterClass = Model.UIProps.ShowFilter ? string.Empty : "d-none";
    var portfolioItems = Model.Items.ToPagedList(Model.PageNumber ?? 1, Model.PageSize);
}


<div class="clearfix">
    @if (Model.UIProps.ShowFilter)
    {
        <div id="js-filters-juicy-projects" class="cbp-l-filters-button cbp-l-filters-left">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All <div class="cbp-filter-counter"></div>
            </div>
            @foreach (var item in Model.Categiries)
            {
                <div data-filter=".@("f" + item.Id)" class="cbp-filter-item">
                    @item.Name <div class="cbp-filter-counter"></div>
                </div>
            }
        </div>
    }

    @if (Model.UIProps.ShowSorting)
    {
        <div id="js-sort-juicy-projects" class="cbp-l-sort cbp-l-filters-right">
            <div class="cbp-l-dropdown">
                <div class="cbp-l-dropdown-wrap">
                    <div class="cbp-l-dropdown-header">Original sorting</div>
                    <div class="cbp-l-dropdown-list">
                        <div class="cbp-l-dropdown-item cbp-sort-item cbp-l-dropdown-item--active" data-sort="">Original sorting</div>
                        <div class="cbp-l-dropdown-item cbp-sort-item" data-sort=".cbp-l-grid-projects-title">Title</div>
                        <div class="cbp-l-dropdown-item cbp-sort-item" data-sort=".cbp-l-grid-projects-desc">Description</div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-direction cbp-l-direction--second">
                <div class="cbp-l-direction-item cbp-sort-item" data-sortBy="string:asc"></div>
                <div class="cbp-l-direction-item cbp-sort-item" data-sortBy="string:desc"></div>
            </div>
        </div>
    }

</div>


<div id="js-grid-juicy-projects" class="cbp">
    @foreach (var item in portfolioItems)
    {
        string categoryIds = String.Join(" ", item.Categiries.Select(s => "f" + s.Id));
        string categoryNames = String.Join(", ", item.Categiries.Select(s => s.Name));
        string url = Url.Action("Detail", "Portfolio", new { id = item.Id });

        <div class="cbp-item @categoryIds">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="@item.Src" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="@url" class="cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="@item.Src" class="cbp-lightbox cbp-l-caption-buttonRight">view larger</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="@url" class="cbp-l-grid-projects-title">@item.Title</a>
            <div class="cbp-l-grid-projects-desc">@categoryNames</div>
        </div>
    }
</div>




@using (Html.BeginScripts())
{
    <script>
        (function ($, window, document, undefined) {
            'use strict';

            // init cubeportfolio
            $('#js-grid-juicy-projects').cubeportfolio({
                filters: '#js-filters-juicy-projects',
                layoutMode: 'grid',
                defaultFilter: '*',
                animationType: 'quicksand',
                gapHorizontal: @Model.UIProps.GapHorizontal,
                gapVertical: @Model.UIProps.GapVertical,
                gridAdjustment: 'responsive',
                mediaQueries: [{
                    width: 1500,
                    cols: @Model.UIProps.ColumnCount,
                }, {
                    width: 1100,
                    cols: @Model.UIProps.ColumnCount,
                }, {
                    width: 800,
                    cols: @(Model.UIProps.ColumnCount - 1),
                }, {
                    width: 480,
                    cols: @(Model.UIProps.ColumnCount - 2),
                    options: {
                        caption: '',
                        gapHorizontal: 30,
                        gapVertical: 10,
                    }
                }],
                caption: 'opacity',
                displayType: 'sequentially',
                displayTypeSpeed: 80,

                // lightbox
                lightboxDelegate: '.cbp-lightbox',
                lightboxGallery: true,
                lightboxTitleSrc: 'data-title',
                lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
            });
        })(jQuery, window, document);
    </script>
}




@if (!Model.UIProps.ShowPaginations)
{
    return;
}

@{
    var actionName = string.Empty;
    var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
    if (routeValues != null)
    {
        if (routeValues.ContainsKey("action"))
        {
            actionName = routeValues["action"].ToString();
        } 
    }
}

@Html.PagedListPager(portfolioItems, page => Url.Action(actionName, "Portfolio", new { page }))