@model ExpressMVC.Models.Common.HeaderModel
@using ExpressMVC.Models.Common

<nav class="collapse">
    <ul class="nav flex-column flex-lg-row" id="mainNav">
        @foreach (var menu in Model.MenuList)
        {
            if (menu.IsMegaMenu)
            {
                <li class="dropdown dropdown-mega">
                    <a class="dropdown-item dropdown-toggle @menu.IsActive" href="@menu.Url"> @menu.Text </a>
                    @if (menu.HasChild())
                    { 
                        @renderMegaMenuChilds(menu.Childs)
                    }
                </li>
            }
            else
            {
                <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle @menu.IsActive" href="@menu.Url"> @menu.Text </a>
                    @if (menu.HasChild())
                    {
                        @renderChilds(menu.Childs)
                    }
                </li>
            }
        }
    </ul>
</nav>


@helper renderChilds(List<MenuModel> menus) {
    <ul class="dropdown-menu">
        @foreach (var menu in menus)
        {
            if (menu.HasChild())
            {
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle @menu.IsActive" href="@menu.Url">@menu.Text</a>
                    @renderChilds(menu.Childs)
                </li>
            }
            else
            {
                <li><a class="dropdown-item @menu.IsActive" href="@menu.Url">@menu.Text</a></li>
            }
        }
    </ul>
}

@helper renderMegaMenuChilds(List<MenuModel> menus)
{
    var key = string.Empty;
    var megaMenus = new Dictionary<string, List<MenuModel>>();
    foreach (var menu in menus)
    {
        if (!string.IsNullOrEmpty(menu.MegaMenuTitle))
        {
            key = menu.MegaMenuTitle;
        }

        if (megaMenus.ContainsKey(key))
        {
            megaMenus[key].Add(menu);
        }
        else
        {
            megaMenus.Add(key, new List<MenuModel>() { menu });
        }
    } 

    <ul class="dropdown-menu">
        <li>
            <div class="dropdown-mega-content container">
                <div class="row">
                    @foreach (var menu in megaMenus)
                    {
                        <div class="col">
                            <span class="dropdown-mega-sub-title">@menu.Key</span>
                            <ul class="dropdown-mega-sub-nav">
                                @foreach (var item in menu.Value)
                                {
                                    <li><a class="dropdown-item @item.IsActive" href="@item.Url">@item.Text</a></li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </li>
    </ul>
}


@*<nav class="collapse">
    <ul class="nav flex-column flex-lg-row" id="mainNav">
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle active" href="#">
                Home
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index", "Home")">Home Version 1</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index2", "Home")">Home Version 2</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index3", "Home")">Home Version 3</a></li>
            </ul>
        </li> 
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="#">
                Pages
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("AboutMe", "Page")">About Me</a></li>
                <li><a class="dropdown-item" href="@Url.Action("ContactUs", "Page")">Contact Us</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-mega dropdown-mega-style-2">
            <a class="dropdown-item dropdown-toggle" href="#">
                Shortcodes
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-mega-content container">
                        <div class="row">
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">SHORTCODES 1</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Accordion", "Shortcode")">Accordions &amp; Toggles</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Tab", "Shortcode")">Tabs</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Alert", "Shortcode")">Alert Messages</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Animation", "Shortcode")">Animations</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("IconBox", "Shortcode")">Icon Boxes</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Carousel", "Shortcode")">Carousels</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Heading", "Shortcode")">Heading</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">SHORTCODES 2</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Button", "Shortcode")">Buttons</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Testimonials", "Shortcode")">Testimonials</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Blockquote", "Shortcode")">Blockquotes</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Counter", "Shortcode")">Counters</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("CircleChart", "Shortcode")">Circle Charts</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">SHORTCODES 3</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("CallToAction", "Shortcode")">Call to Action</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("ProgressBar", "Shortcode")">Progress Bars</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Content Effects</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="elements-word-rotator.html">Word Rotator</a></li>
                                            <li><a class="dropdown-item" href="elements-content-rotator.html">Content Rotator</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 dropdown-mega-sub-content-block d-none d-lg-block">
                                <img src="~/Content/img/menu-featured-image-1.png" class="img-responsive content-block-image" alt="" width="110" />
                                <span class="top-sub-title text-color-light-2 d-block">THE MOST</span>
                                <span class="text-color-light font-weight-bold d-block text-4 mb-4">POWERFUL</span>
                                <p class="text-color-light-2">A revolutionary theme<br> trusted by tons of<br> customers</p>
                                <a class="btn d-inline-block content-block-button text-color-primary font-weight-bold p-0" href="#">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="#">
                Features
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Headers</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Default</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="index-header-colored-top-bar.html">Default + Colored Top Bar</a></li>
                                <li><a class="dropdown-item" href="index-header-top-bar-search.html">Default + Top Bar with Search</a></li>
                                <li><a class="dropdown-item" href="index-header-top-bar-button.html">Default + Top Bar with Button</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="index-header-floating.html">Floating</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Transparency</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("HeaderTransparency", "Feature", new { transparency = HeaderTransparency.Transparent })">Transparent</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("HeaderTransparency", "Feature", new { transparency = HeaderTransparency.TransparentBorderBottom })">Transparent - Bottom Border</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("HeaderTransparency", "Feature", new { transparency = HeaderTransparency.SemiTransparent })">Semi Transparent</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("HeaderTransparency", "Feature", new { transparency = HeaderTransparency.SemiTransparentLight })">Semi Transparent - Light</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Navbar</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="index-header-navbar.html">Navbar</a></li>
                                <li><a class="dropdown-item" href="index-header-navbar-centered-logo.html">Navbar - Centered Logo</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Side Header</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="index-header-side-header-left.html">Side Header Left</a></li>
                                <li><a class="dropdown-item" href="index-header-side-header-right.html">Side Header Right</a></li>
                                <li><a class="dropdown-item" href="index-header-side-header-semi-transparent.html">Side Header Semi Transparent</a></li>
                                <li><a class="dropdown-item" href="index-header-side-header-semi-transparent-light.html">Side Header Semi Transparent - Light</a></li>
                                <li><a class="dropdown-item" href="index-header-side-header-from-out.html">Side Header From Out</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="index-header-signin.html">Signin / Signup</a></li>
                        <li><a class="dropdown-item" href="index-header-logged.html">Logged</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Footers</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "Default" })#footer">Default</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "Simple" })#footer">Simple</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "Light" })#footer">Light</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "LightNarrow" })#footer">Light Narrow</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "Center" })#footer">Center</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Colors</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("FooterColor", "Feature", new { color = ThemeColor.Primary })#footer">Primary Color</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("FooterColor", "Feature", new { color = ThemeColor.Secondary })#footer">Secondary Color</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("FooterColor", "Feature", new { color = ThemeColor.Tertiary })#footer">Tertiary Color</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("FooterColor", "Feature", new { color = ThemeColor.Quaternary })#footer">Quaternary Color</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "InstagramTwitter" })#footer">Instagram / Twitter Feed</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "Newsletter" })#footer">Newsletter</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Contact Form</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "ContactForm" })#footer">Default</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Footer", "Feature", new { name = "ContactFormTransparent" })#footer">Transparent</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Page Headers</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("PageHeader", "Feature", new { headerType = PageHeaderType.LeftAlignment })">Left Alignment</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("PageHeader", "Feature", new { headerType = PageHeaderType.CenterAlignment })">Center Alignment</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("PageHeader", "Feature", new { headerType = PageHeaderType.RightAlignment })">Right Alignment</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Colors</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("PageHeaderColor", "Feature", new { color = ThemeColor.Primary })">Primary Color</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("PageHeaderColor", "Feature", new { color = ThemeColor.Secondary })">Secondary Color</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("PageHeaderColor", "Feature", new { color = ThemeColor.Tertiary })">Tertiary Color</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("PageHeaderColor", "Feature", new { color = ThemeColor.Quaternary })">Quaternary Color</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="@Url.Action("PageHeaderColor", "Feature", new { color = ThemeColor.Dark })">Dark</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("PageHeader", "Feature", new { headerType = PageHeaderType.CustomBackground })">Custom Background</a></li>
                        <li><a class="dropdown-item" href="index-page-header-custom-header.html">Custom Header</a></li>
                        <li><a class="dropdown-item" href="index-page-header-custom-header-2.html">Custom Header 2</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("PageHeader", "Feature", new { headerType = PageHeaderType.Parallax })">Parallax</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("PageHeader", "Feature", new { headerType = PageHeaderType.VideoBackground })">Video Background</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("PageHeader", "Feature", new { headerType = PageHeaderType.Mini })">Mini</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Layout Options</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="feature-layout-boxed.html">Boxed</a></li>
                        <li><a class="dropdown-item" href="feature-layout-gap-outside.html">Gap Outside</a></li>
                    </ul>
                </li>
            </ul>
        </li> 
        <li class="dropdown dropdown-mega">
            <a class="dropdown-item dropdown-toggle" href="#">
                Portfolio
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-mega-content container">
                        <div class="row">
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">GRID</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Grid6Columns", "Portfolio")">6 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Grid5Columns", "Portfolio")">5 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Grid4Columns", "Portfolio")">4 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Grid3Columns", "Portfolio")">3 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Grid2Columns", "Portfolio")">2 Columns</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">MASONRY</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry6Columns", "Portfolio")">6 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry5Columns", "Portfolio")">5 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry4Columns", "Portfolio")">4 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry3Columns", "Portfolio")">3 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry2Columns", "Portfolio")">2 Columns</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">SIDEBAR LAYOUTS</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("RightSidebar", "Portfolio")">Right Sidebar</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("LeftSidebar", "Portfolio")">Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("BothSidebar", "Portfolio")">Both Sidebar</a></li> 
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">PORTFOLIO DETAIL</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Detail", "Portfolio")">Single Gallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-mega">
            <a class="dropdown-item dropdown-toggle" href="#">
                Blog
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-mega-content container">
                        <div class="row">
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">DEFAULT</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Default", "Blog")">Default</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("DefaultRightSidebar", "Blog")">Right Sidebar</a></li> 
                                    <li><a class="dropdown-item" href="@Url.Action("DefaultBothSidebar", "Blog")">Both Sidebar</a></li> 
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">MASONRY</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry4Columns", "Blog")">4 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry3Columns", "Blog")">3 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry2Columns", "Blog")">2 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Masonry4ColumnsFullWith", "Blog")">Full Width</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">GRID</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Grid4Columns", "Blog")">4 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Grid3Columns", "Blog")">3 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Grid2Columns", "Blog")">2 Columns</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("GridFullWidth4Columns", "Blog")">Full Width</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <span class="dropdown-mega-sub-title">SINGLE POST</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="@Url.Action("Single", "Blog")">Default</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>*@
