@model ExpressMVC.Models.Blog.BlogListModel
@using PagedList;
@using ExpressMVC.UI

@{
    var blogPosts = Model.BlogPosts.ToPagedList(Model.PageNumber ?? 1, Model.PageSize);
}

@foreach (var item in blogPosts)
{
    string url = Url.Action("Detail", "Blog", new { id = item.Id });

    <article class="blog-post">

        @switch (item.PostType)
        {
            case BlogPostType.Standard:
                {
                    <header class="blog-post-header">
                        <a href="@url">
                            <img src="@item.Src" class="img-fluid" alt="" />
                        </a>
                        <i class="post-format-icon lnr lnr-picture bg-primary text-color-light text-7 p-3"></i>
                    </header>
                }
                break;
            case BlogPostType.SliderGallery:
                {
                    <header class="blog-post-header">
                        <div class="owl-carousel owl-theme dots-style-2 nav-style-2" data-plugin-options="{'autoplay': true, 'items': 1, 'dots': true, 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut'}">
                            @foreach (var imageSrc in item.GalleryImageSrc)
                            {
                                <div>
                                    <a href="@url">
                                        <img src="@imageSrc" class="img-fluid" alt="" />
                                    </a>
                                </div>
                            }
                        </div>
                        <i class="post-format-icon lnr lnr-picture bg-primary text-color-light text-7 p-3"></i>
                    </header>
                }
                break;
            case BlogPostType.EmbeddedVideo:
                {
                    <header class="blog-post-header">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@item.Src" width="640" height="360" allowfullscreen></iframe>
                        </div>
                    </header>
                }
                break;
            case BlogPostType.Html5Video:
                {
                    <header class="blog-post-header">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video class="embed-responsive-item" autoplay="" muted="" loop="" controls="">
                                <source src="@item.Src" type="video/mp4">
                            </video>
                        </div>
                    </header>
                }
                break;
            case BlogPostType.Blockquote:
                {
                    <header class="blog-post-header bg-light-5 p-5">
                        <blockquote class="blockquote blockquote-style-1 blockquote-primary">
                            <p class="mb-4 font-tertiary font-italic">@item.Src</p>
                        </blockquote>
                    </header>
                }
                break;
            case BlogPostType.Link:
                {
                    <header class="blog-post-header">
                        <a href="@url" class="link-post d-block btn btn-primary btn-outline border-0 rounded-0 font-weight-bold text-center text-6 py-5" target="_blank">@item.Src</a>
                    </header>
                }
                break;
            case BlogPostType.Audio:
                {
                    <header class="blog-post-header">
                        <div class="embed-responsive embed-soundcloud">
                            <iframe class="embed-responsive-item" src="@item.Src"></iframe>
                        </div>
                    </header>
                }
                break;
            default:
                break;
        }

        <div class="blog-post-inner pt-4 pl-9 pr-4">
            <div class="d-flex mb-2">
                <span class="post-date text-color-primary pr-3">MARCH 5, 2018</span>
                @*<span class="post-likes d-flex align-items-center border border-top-0 border-bottom-0 px-3">
                    <i class="lnr lnr-heart text-3 mr-1" aria-label="3 users like this post"></i> 3
                </span>
                <a href="@url#comments">
                    <span class="post-comments d-flex align-items-center px-3">
                        <i class="lnr lnr-bubble text-3 mr-1" aria-label="6 users comment this post"></i> 6
                    </span>
                </a>*@
            </div>
            <h2 class="font-weight-semibold text-5 mb-3">
                <a href="@url" class="link-color-dark">
                    @item.Title
                </a>
            </h2>
            <p class="mb-4"> @Html.Raw(item.Body.Truncate(275, "...")) </p>
            <a href="@url" class="text-color-primary font-weight-bold learn-more">
                Read more
            </a>
        </div>

    </article>
    
    <hr class="my-7 invisible">
}



<div class="row align-items-center justify-content-between">
    <div class="col-auto mb-3 mb-sm-0">
        <span>Showing 1-9 of 60 results</span>
    </div>
    <div class="col-auto">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link prev" href="#" aria-label="Previous">
                        <span><i class="fas fa-angle-left" aria-label="Previous"></i></span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">...</li>
                <li class="page-item"><a class="page-link" href="#">15</a></li>
                <li class="page-item">
                    <a class="page-link next" href="#" aria-label="Next">
                        <span><i class="fas fa-angle-right" aria-label="Next"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>










