@model ExpressMVC.Models.Shortcodes.ButtonModel
@using ExpressMVC.UI

@{
    if (Model.Type.HasValue)
    {
        Model.ClassName += String.Format(" btn-{0}", Enum.GetName(typeof(ButtonType), Model.Type).ToLower());
    }

    if (Model.UIProps.IsRounded)
    {
        Model.ClassName += " btn-rounded";
    }
    if (Model.UIProps.IsOutline)
    {
        Model.ClassName += " btn-outline";
    }
    if (Model.UIProps.IsBlock)
    {
        Model.ClassName += " btn-block";
    }

    switch (Model.UIProps.Size)
    {
        case Size.Small:
            Model.ClassName += " btn-2 btn-fs-2";
            break;
        case Size.Default:
            break;
        case Size.Large:
            Model.ClassName += " btn-5 btn-fs-5";
            break;
        default:
            break;
    }

    string disabled = string.Empty;
    if (Model.IsDisabled)
    {
        disabled = " disabled";
    }

    Model.ClassName = Model.ClassName.Trim();
}

@if (Model.UIProps.Effect == ButtonEffect.None)
{
    if (Model.Type != ButtonType.Link)
    {
        <button type="button" class="btn @Model.ClassName mb-2"@disabled>
            @if (!string.IsNullOrEmpty(Model.Icon))
            {
                <i class="@Model.Icon"></i>
            }
            @Model.Text
        </button>
    }
    else
    {
        <a href="#" class="btn @Model.ClassName mb-2"@disabled>
            @if (!string.IsNullOrEmpty(Model.Icon))
            {
                <i class="@Model.Icon"></i>
            }
            @Model.Text
        </a>
    }
}
else
{
    if (Model.UIProps.Effect == ButtonEffect.IconEffect1)
    {
        Model.ClassName += " btn-icon-effect-1";
        <button class="btn @Model.ClassName btn-4 font-weight-semibold mb-2"@disabled>
            <span class="wrap">
                <span>EFFECT 1</span>
                @if (!string.IsNullOrEmpty(Model.Icon))
            {
                <i class="@Model.Icon"></i>
            }
            </span>
        </button>
    }
    else if (Model.UIProps.Effect == ButtonEffect.IconEffect2)
    {
        Model.ClassName += " btn-icon-effect-2";
        <button class="btn @Model.ClassName btn-4 font-weight-semibold mb-2"@disabled>
            <span>EFFECT 2</span>
            @if (!string.IsNullOrEmpty(Model.Icon))
            {
                <i class="@Model.Icon"></i>
            }
        </button>
    } 
}
