@model ExpressMVC.Models.Shortcodes.TeamElementModel
@using ExpressMVC.UI

@{
    string textCenterClass = string.Empty;
    if (Model.UIProps.IsTextCenter)
    {
        textCenterClass = "text-center";
    }

    string raundedClass = string.Empty;
    if (Model.UIProps.IsRaundedImage)
    {
        raundedClass = "img-circle";
    }
}

@if (Model.UIProps.Style == TeamElementStyle.Style1)
{
    <div class="team-member @textCenterClass @raundedClass @Model.ClassName ">
        <div class="member-photo">
            <img class="img-responsive" src="@Model.Src" />
            <div class="member-social">
                <div class="member-social-inner">
                    @if (Model.SocialLinks.Count > 0)
                    {
                        <ul class="list-inline">
                            @foreach (var item in Model.SocialLinks)
                            {
                                <li>
                                    <a href="@(String.IsNullOrEmpty(item.Url) ? "#" : item.Url)" class="tooltips" data-placement="top" rel="tooltip" data-original-title="@item.Name">
                                        <i class="@item.Icon"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="member-info">
            <div class="member-name">
                <h3 class="name">@Model.Name</h3>
            </div>
            @if (!String.IsNullOrEmpty(Model.Position))
            {
                <div class="member-position">
                    <span>@Model.Position</span>
                </div>
            }

            @if (!String.IsNullOrEmpty(Model.Description))
            {
                <div class="member-desc">
                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                </div>
            }
        </div>
    </div>
}

@if (Model.UIProps.Style == TeamElementStyle.Style2)
{
    <div class="team-member team-member-style-2 @textCenterClass @raundedClass @Model.ClassName ">
        <div class="member-photo">
            <img class="img-responsive" src="@Model.Src" />
        </div>
        <div class="member-info">
            @if (Model.SocialLinks.Count > 0)
            {
                <div class="share">
                    <i class="fa fa-share-alt"></i>
                    <div class="share-icons background-color-light">
                        @foreach (var item in Model.SocialLinks)
                        {
                            <a href="@(String.IsNullOrEmpty(item.Url) ? "#" : item.Url)" class="text-decoration-none" title="Share on @item.Name"><i class="@item.Icon"></i></a>
                        }
                    </div>
                </div>
            }

            <div class="member-name">
                <h3 class="name">@Model.Name</h3>
            </div>

            @if (!String.IsNullOrEmpty(Model.Position))
            {
                <div class="member-position">
                    <span>@Model.Position</span>
                </div>
            }
        </div>
    </div>
}
