@using ExpressMVC.Models.Common
@using ExpressMVC.UI
@using ExpressMVC.Models.Shortcodes

@Html.ExpressMenu()

@Html.ExpressPageHeader(title: "Alert")

@Html.ExpressFooter()

<section class="section">

    <div class="container">
        <div class="row"> 
            <div class="col-md-4 col-lg-3 order-1">
                @Html.ExpressSidebar(name: "ShortcodeMenu")
            </div>

            <div class="col-md-8 col-lg-9 order-2">

                <h4 class="mb-4">Default</h4>

                @Html.ExpressAlert(AlertType.Default, @<text>
                    <strong>Well done!</strong> You are using a awesome template! <a href="" class="alert-link">Say Hi to Express </a>.
                </text>)


                @Html.ExpressAlert(AlertType.Success, @<text>
                    <strong>Well done!</strong> You are using a awesome template! <a href="" class="alert-link">Say Hi to Express </a>.
                </text>)


                @Html.ExpressAlert(AlertType.Info, @<text>
                    <strong>Need any help?!</strong> We are glad <a href="" class="alert-link">to help you</a>, if you need.
                </text>)

                @Html.ExpressAlert(AlertType.Warning, @<text>
                    <strong>We must tell you!</strong> This template is made with love by the <a href="" class="alert-link">Bootstrap Templates team</a>.
                </text>)

                @Html.ExpressAlert(AlertType.Danger, @<text>
                    <strong>Oh snap!</strong> Are you using other template? <a href="" class="alert-link">Buy Express now</a> and make your customers a lot happier.
                </text>)

                 

                <h4 class="mt-9 mb-4">Colors</h4>

                @Html.ExpressAlert(new AlertModel() { UIProps = { Color = ThemeColor.Primary } }, @<text>
                    <strong>Well done!</strong> You are using a awesome template! <a href="" class="alert-link">Say Hi to Express </a>.
                </text>)

                @Html.ExpressAlert(new AlertModel() { UIProps = { Color = ThemeColor.Secondary } }, @<text>
                    <strong>Well done!</strong> You are using a awesome template! <a href="" class="alert-link">Say Hi to Express </a>.
                </text>)

                @Html.ExpressAlert(new AlertModel() { UIProps = { Color = ThemeColor.Tertiary } }, @<text>
                    <strong>Well done!</strong> You are using a awesome template! <a href="" class="alert-link">Say Hi to Express </a>.
                </text>)

                @Html.ExpressAlert(new AlertModel() { UIProps = { Color = ThemeColor.Quaternary } }, @<text>
                    <strong>Well done!</strong> You are using a awesome template! <a href="" class="alert-link">Say Hi to Express </a>.
                </text>)
                 

                <div class="row">
                    <div class="col-lg-6">

                        <h4 class="mt-9 mb-2">Dismissible alerts</h4>
                        <p>Build on any alert by adding an optional .alert-dismissible.</p>

                        @Html.ExpressAlert(new AlertModel() { Type = AlertType.Warning, Dismissible = true }, @<text>
                            <strong>Warning!</strong> Better check yourself, you're not looking too good.
                        </text>)
                         
                    </div>
                    <div class="col-lg-6">
                        <h4 class="mt-9 mb-2">With Icons</h4>
                        <p>Add any icon you want from the icons library.</p>

                        @Html.ExpressAlert(new AlertModel() { Dismissible = true }, @<text>
                            <strong><i class="fa fa-thumbs-o-up"></i> Well done!</strong> You successfully read this important alert message.
                        </text>)
                         
                    </div>
                </div>
                 

                <h4 class="mt-9 mb-4">Sizes</h4>

                @Html.ExpressAlert(new AlertModel() { Type = AlertType.Info, UIProps = { Size = Size.Small } }, @<text>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </text>)
                 
                @Html.ExpressAlert(new AlertModel() { Type = AlertType.Info }, @<text>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </text>) 

                @Html.ExpressAlert(new AlertModel() { Type = AlertType.Info, UIProps = { Size = Size.Large } }, @<text>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </text>)
                 

                <h4 class="mt-9 mb-4">Summary</h4>


                @Html.ExpressAlert(new AlertModel() { Type = AlertType.Danger, Dismissible = true }, @<text>
                    <strong><i class="fa fa-warning"></i>Oh snap!</strong> Change a few things up and try submitting again.
                    <ul>
                        <li>Inform your username.</li>
                        <li>Inform your password.</li>
                    </ul>
                </text>) 
                 
            </div> 
        </div>
    </div>
</section>