@using ExpressMVC.Models.Common
@using ExpressMVC.Models.Shortcodes
@using ExpressMVC.SampleData

@Html.ExpressMenu()

@Html.ExpressPageHeader(new PageHeaderModel(title: "Blockquote"))

@Html.ExpressFooter()
 
<div class="container mb-5 pt-3">
    <div class="row mb-5 pb-3">

        <div class="col-lg-6 mb-5 mb-md-0">

            <h4>Default Blockquote:</h4>
            <hr class="mb-4">

            @{ 
                var simpleDataModel = BlockquoteData.GetBlockquoteModel;
            }
            @Html.ExpressBlockquote(simpleDataModel)

        </div>
        <div class="col-lg-6">

            <h4>Alignment Blockquote:</h4>
            <hr class="mb-4">

            @{
                var simpleDataModel2 = BlockquoteData.GetBlockquoteModel;
                simpleDataModel2.Alignment = ExpressMVC.UI.Alignment.Right;
            }
            @Html.ExpressBlockquote(simpleDataModel2)

        </div>
    </div>
    <div class="row mb-5 pb-3">

        <div class="col">
            <h4>Font Change Blockquote:</h4>
            <hr class="mb-4">
            <div class="row justify-content-center">

                <div class="col-lg-9">

                    @{
                        var simpleDataModel3 = BlockquoteData.GetBlockquoteModel;
                        simpleDataModel3.Alignment = ExpressMVC.UI.Alignment.Center;
                        simpleDataModel3.UseAlternateFont = true;
                        simpleDataModel3.TextSize = ExpressMVC.UI.Size.Default;
                        simpleDataModel3.Content = "Lorem ipsum dolor sit amet, consectetur adipiscing elit." +
                                                    "Nulla gravida ipsum a est iaculis, sit amet ullamcorper odio egestas. Quisque pulvinar, lectus id sodales bibendum," +
                                                    "erat metus tempor massa, in mollis odio metus gravida magna.Nullam orci erat, posuere a congue id, pellentesque eu turpis.";
                    }
                    @Html.ExpressBlockquote(simpleDataModel3)

                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 pb-3">

        <div class="col-lg-6 mb-5 mb-md-0">

            <h4>Blockquote With Quote Icon:</h4>
            <hr class="mb-4">

            @{
                var simpleDataModel4 = BlockquoteData.GetBlockquoteModel;
                simpleDataModel4.Alignment = ExpressMVC.UI.Alignment.Left;
                simpleDataModel4.ShowIcon = true;
                simpleDataModel4.TextSize = ExpressMVC.UI.Size.Default;
            }
            @Html.ExpressBlockquote(simpleDataModel4)

        </div>
        <div class="col-lg-6">

            <h4>Blockquote With Border:</h4>
            <hr class="mb-4">

            @{
                var simpleDataModel5 = BlockquoteData.GetBlockquoteModel;
                simpleDataModel5.ShowBorder = true;
                simpleDataModel5.TextSize = ExpressMVC.UI.Size.Default;
            }
            @Html.ExpressBlockquote(simpleDataModel5)

        </div>
    </div>
    <div class="row">

        <div class="col">

            <h4>Inside Text:</h4>
            <hr class="mb-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
            <div class="col-lg-5 float-lg-left p-0 mr-4">
                <blockquote class="blockquote blockquote-style-2 text-3">
                    <p class="mb-4 font-tertiary font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida ipsum a est iaculis, sit amet ullamcorper odio egestas.</p>
                    <footer class="blockquote-footer blockquote-footer-style-1">
                        <div class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></div>
                    </footer>
                </blockquote>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
            <p>Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci.</p>
            <div class="col-lg-5 float-lg-right p-0 ml-4">
                <blockquote class="blockquote blockquote-style-2 text-3">
                    <p class="mb-4 font-tertiary font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida ipsum a est iaculis, sit amet ullamcorper odio egestas.</p>
                    <footer class="blockquote-footer blockquote-footer-style-1">
                        <div class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></div>
                    </footer>
                </blockquote>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
            <p>Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci.</p>
        </div>
    </div>
</div>
