@using ExpressMVC.UI

@Html.ExpressMenu()

@Html.ExpressPageHeader(title: "Heading")

<section class="section">

    <div class="container">
        <div class="row"> 
            <div class="col-md-4 col-lg-3 order-1">
                @Html.ExpressSidebar(name: "ShortcodeMenu")
            </div>

            <div class="col-md-8 col-lg-9 order-2">

                @Html.ExpressHeading(HTag.h1, new TextElement("Narrow Line - h1"), HeadingStyle.NarrowLine)

                @Html.ExpressHeading(HTag.h2, new TextElement("Narrow Line - h2"), HeadingStyle.NarrowLine)

                @Html.ExpressHeading(HTag.h3, new TextElement("Narrow Line - h3"), HeadingStyle.NarrowLine)

                @Html.ExpressHeading(HTag.h4, new TextElement("Narrow Line - h4"), HeadingStyle.NarrowLine)

                @Html.ExpressHeading(HTag.h5, new TextElement("Narrow Line - h5"), HeadingStyle.NarrowLine)

                @Html.ExpressHeading(HTag.h6, new TextElement("Narrow Line - h6"), HeadingStyle.NarrowLine)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Narrow Line - h1"), HeadingStyle.NarrowLine, Alignment.Center)

                @Html.ExpressHeading(HTag.h2, new TextElement("Narrow Line - h2"), HeadingStyle.NarrowLine, Alignment.Center)

                @Html.ExpressHeading(HTag.h3, new TextElement("Narrow Line - h3"), HeadingStyle.NarrowLine, Alignment.Center)

                @Html.ExpressHeading(HTag.h4, new TextElement("Narrow Line - h4"), HeadingStyle.NarrowLine, Alignment.Center)

                @Html.ExpressHeading(HTag.h5, new TextElement("Narrow Line - h5"), HeadingStyle.NarrowLine, Alignment.Center)

                @Html.ExpressHeading(HTag.h6, new TextElement("Narrow Line - h6"), HeadingStyle.NarrowLine, Alignment.Center)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Narrow Line - h1"), HeadingStyle.NarrowLine, Alignment.Right)

                @Html.ExpressHeading(HTag.h2, new TextElement("Narrow Line - h2"), HeadingStyle.NarrowLine, Alignment.Right)

                @Html.ExpressHeading(HTag.h3, new TextElement("Narrow Line - h3"), HeadingStyle.NarrowLine, Alignment.Right)

                @Html.ExpressHeading(HTag.h4, new TextElement("Narrow Line - h4"), HeadingStyle.NarrowLine, Alignment.Right)

                @Html.ExpressHeading(HTag.h5, new TextElement("Narrow Line - h5"), HeadingStyle.NarrowLine, Alignment.Right)

                @Html.ExpressHeading(HTag.h6, new TextElement("Narrow Line - h6"), HeadingStyle.NarrowLine, Alignment.Right)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Border Bottom - h1"), HeadingStyle.BorderBottom)

                @Html.ExpressHeading(HTag.h2, new TextElement("Border Bottom - h2"), HeadingStyle.BorderBottom)

                @Html.ExpressHeading(HTag.h3, new TextElement("Border Bottom - h3"), HeadingStyle.BorderBottom)

                @Html.ExpressHeading(HTag.h4, new TextElement("Border Bottom - h4"), HeadingStyle.BorderBottom)

                @Html.ExpressHeading(HTag.h5, new TextElement("Border Bottom - h5"), HeadingStyle.BorderBottom)

                @Html.ExpressHeading(HTag.h6, new TextElement("Border Bottom - h6"), HeadingStyle.BorderBottom)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Border Bottom - h1"), HeadingStyle.BorderBottom, Alignment.Center)

                @Html.ExpressHeading(HTag.h2, new TextElement("Border Bottom - h2"), HeadingStyle.BorderBottom, Alignment.Center)

                @Html.ExpressHeading(HTag.h3, new TextElement("Border Bottom - h3"), HeadingStyle.BorderBottom, Alignment.Center)

                @Html.ExpressHeading(HTag.h4, new TextElement("Border Bottom - h4"), HeadingStyle.BorderBottom, Alignment.Center)

                @Html.ExpressHeading(HTag.h5, new TextElement("Border Bottom - h5"), HeadingStyle.BorderBottom, Alignment.Center)

                @Html.ExpressHeading(HTag.h6, new TextElement("Border Bottom - h6"), HeadingStyle.BorderBottom, Alignment.Center)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Border Bottom - h1"), HeadingStyle.BorderBottom, Alignment.Right)

                @Html.ExpressHeading(HTag.h2, new TextElement("Border Bottom - h2"), HeadingStyle.BorderBottom, Alignment.Right)

                @Html.ExpressHeading(HTag.h3, new TextElement("Border Bottom - h3"), HeadingStyle.BorderBottom, Alignment.Right)

                @Html.ExpressHeading(HTag.h4, new TextElement("Border Bottom - h4"), HeadingStyle.BorderBottom, Alignment.Right)

                @Html.ExpressHeading(HTag.h5, new TextElement("Border Bottom - h5"), HeadingStyle.BorderBottom, Alignment.Right)

                @Html.ExpressHeading(HTag.h6, new TextElement("Border Bottom - h6"), HeadingStyle.BorderBottom, Alignment.Right)

                 <hr class="invisible"/>


                @Html.ExpressHeading(HTag.h1, new TextElement("Line After Text - h1"), HeadingStyle.LineAfterText)
                
                @Html.ExpressHeading(HTag.h2, new TextElement("Line After Text - h2"), HeadingStyle.LineAfterText)

                @Html.ExpressHeading(HTag.h3, new TextElement("Line After Text - h3"), HeadingStyle.LineAfterText)

                @Html.ExpressHeading(HTag.h4, new TextElement("Line After Text - h4"), HeadingStyle.LineAfterText)

                @Html.ExpressHeading(HTag.h5, new TextElement("Line After Text - h5"), HeadingStyle.LineAfterText)

                @Html.ExpressHeading(HTag.h6, new TextElement("Line After Text - h6"), HeadingStyle.LineAfterText)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Line After Text - h1"), HeadingStyle.LineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h2, new TextElement("Line After Text - h2"), HeadingStyle.LineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h3, new TextElement("Line After Text - h3"), HeadingStyle.LineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h4, new TextElement("Line After Text - h4"), HeadingStyle.LineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h5, new TextElement("Line After Text - h5"), HeadingStyle.LineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h6, new TextElement("Line After Text - h6"), HeadingStyle.LineAfterText, Alignment.Center)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Line After Text - h1"), HeadingStyle.LineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h2, new TextElement("Line After Text - h2"), HeadingStyle.LineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h3, new TextElement("Line After Text - h3"), HeadingStyle.LineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h4, new TextElement("Line After Text - h4"), HeadingStyle.LineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h5, new TextElement("Line After Text - h5"), HeadingStyle.LineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h6, new TextElement("Line After Text - h6"), HeadingStyle.LineAfterText, Alignment.Right)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Double Line After Text - h1"), HeadingStyle.DoubleLineAfterText)

                @Html.ExpressHeading(HTag.h2, new TextElement("Double Line After Text - h2"), HeadingStyle.DoubleLineAfterText)

                @Html.ExpressHeading(HTag.h3, new TextElement("Double Line After Text - h3"), HeadingStyle.DoubleLineAfterText)

                @Html.ExpressHeading(HTag.h4, new TextElement("Double Line After Text - h4"), HeadingStyle.DoubleLineAfterText)

                @Html.ExpressHeading(HTag.h5, new TextElement("Double Line After Text - h5"), HeadingStyle.DoubleLineAfterText)

                @Html.ExpressHeading(HTag.h6, new TextElement("Double Line After Text - h6"), HeadingStyle.DoubleLineAfterText)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Double Line After Text - h1"), HeadingStyle.DoubleLineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h2, new TextElement("Double Line After Text - h2"), HeadingStyle.DoubleLineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h3, new TextElement("Double Line After Text - h3"), HeadingStyle.DoubleLineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h4, new TextElement("Double Line After Text - h4"), HeadingStyle.DoubleLineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h5, new TextElement("Double Line After Text - h5"), HeadingStyle.DoubleLineAfterText, Alignment.Center)

                @Html.ExpressHeading(HTag.h6, new TextElement("Double Line After Text - h6"), HeadingStyle.DoubleLineAfterText, Alignment.Center)

                <hr class="invisible"/>

                @Html.ExpressHeading(HTag.h1, new TextElement("Double Line After Text - h1"), HeadingStyle.DoubleLineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h2, new TextElement("Double Line After Text - h2"), HeadingStyle.DoubleLineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h3, new TextElement("Double Line After Text - h3"), HeadingStyle.DoubleLineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h4, new TextElement("Double Line After Text - h4"), HeadingStyle.DoubleLineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h5, new TextElement("Double Line After Text - h5"), HeadingStyle.DoubleLineAfterText, Alignment.Right)

                @Html.ExpressHeading(HTag.h6, new TextElement("Double Line After Text - h6"), HeadingStyle.DoubleLineAfterText, Alignment.Right)

            </div>
             
        </div>
    </div>
</section>



@Html.ExpressFooter()