@using ExpressMVC.Models.Common
@using ExpressMVC.Models.Shortcodes
@using ExpressMVC.UI

@Html.ExpressMenu()

@Html.ExpressPageHeader(new PageHeaderModel(title: "Testimonials"))

@Html.ExpressFooter()

<section class="section">

    <div class="container">
        <div class="row">
            <div class="col">

                @Html.ExpressHeading(HTag.h4, new TextElement("Testimonials Slider with Photos"), HeadingStyle.NarrowLine)
                @Html.ExpressSpace(Size.Large)

                @Html.ExpressTestimonialSlider(TestimonialStyle.Style1,
               new TestimonialsModel()
               {
                   Name = "John Doe",
                   Position = "Position",
                   PhotoSrc = "/Content/img/avatars/a1.jpeg",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               }, new TestimonialsModel()
               {
                   Name = "Bob Doe",
                   Position = "Position",
                   PhotoSrc = "/Content/img/avatars/a2.jpeg",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               }, new TestimonialsModel()
               {
                   Name = "Will Smith",
                   Position = "Position",
                   PhotoSrc = "/Content/img/avatars/a3.jpeg",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               })

            </div>
        </div>
    </div>

</section>

<section class="section bg-light-3">

    <div class="container">

        <div class="row">
            <div class="col">
                @Html.ExpressHeading(HTag.h4, new TextElement("Testimonials Slider Centered"), HeadingStyle.NarrowLine, Alignment.Center)
                @Html.ExpressSpace(Size.Large)

                @Html.ExpressTestimonialSlider(TestimonialStyle.Style2,
               new TestimonialsModel()
               {
                   Name = "John Doe",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               }, new TestimonialsModel()
               {
                   Name = "Bob Doe",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               }, new TestimonialsModel()
               {
                   Name = "Will Smith",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               })

            </div>
        </div>

    </div>

</section>

<section class="section">

    <div class="container">

        <div class="row">
            <div class="col">

                @Html.ExpressHeading(HTag.h4, new TextElement("Testimonials Slider Boxes"), HeadingStyle.NarrowLine, Alignment.Center)
                @Html.ExpressSpace(Size.Large)

                @Html.ExpressTestimonialSlider(TestimonialStyle.Style3,
                new TestimonialsModel()
                {
                    Name = "John Doe",
                    Position = "Position",
                    PhotoSrc = "/Content/img/avatars/a1.jpeg",
                    Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                }, new TestimonialsModel()
                {
                    Name = "Bob Doe",
                    Position = "Position",
                    PhotoSrc = "/Content/img/avatars/a2.jpeg",
                    Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                }, new TestimonialsModel()
                {
                    Name = "Will Smith",
                    Position = "Position",
                    PhotoSrc = "/Content/img/avatars/a3.jpeg",
                    Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                })
            </div>
        </div>

    </div>

</section>

<section class="section bg-light-3">

    <div class="container">

        <div class="row">
            <div class="col">

                @Html.ExpressHeading(HTag.h4, new TextElement("Testimonials Slider Boxes"), HeadingStyle.NarrowLine, Alignment.Center)
                @Html.ExpressSpace(Size.Large)


                @Html.ExpressTestimonialSlider(TestimonialStyle.Style4,
               new TestimonialsModel()
               {
                   Name = "John Doe",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               }, new TestimonialsModel()
               {
                   Name = "Bob Doe",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               }, new TestimonialsModel()
               {
                   Name = "Will Smith",
                   Position = "Position",
                   Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
               })

            </div>
        </div>

    </div>

</section>

<section class="section bg-dark-5">
    <div class="container">
        <div class="row">
            <div class="col">
                @Html.ExpressHeading(HTag.h4, new TextElement("Inside Section", TextColor.White), HeadingStyle.NarrowLine, Alignment.Center)
                @Html.ExpressSpace(Size.Large)
            </div>
        </div>

        <div class="row">
            <div class="col">

                @Html.ExpressTestimonialSlider(TestimonialStyle.Style5,
                   new TestimonialsModel()
                   {
                       Name = "John Doe",
                       Position = "Position",
                       Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                   }, new TestimonialsModel()
                   {
                       Name = "Bob Doe",
                       Position = "Position",
                       Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                   }, new TestimonialsModel()
                   {
                       Name = "Will Smith",
                       Position = "Position",
                       Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna purus, aliquet vitae nisi ac, aliquet consectetur est. Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus. Donec pharetra lectus quis."
                   })

            </div>
        </div>
    </div>
</section>
