@using ExpressMVC.Models.Common
@using ExpressMVC.UI
@{ 
    var layoutModel = new LayoutModel();

    string layoutClass = string.Empty;
    switch (layoutModel.Layout)
    {
        case LayoutType.Default:
            layoutClass = string.Empty;
            break;
        case LayoutType.Boxed:
            layoutClass = "boxed";
            break;
        case LayoutType.GabOutSide:
            layoutClass = "gap-outside";
            break;
        default:
            break;
    }
}

<!DOCTYPE html>
<html class="@layoutClass">
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Express - Responsive HTML5 Bootstrap Template</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Express - Responsive HTML5 Template">
    <meta name="author" content="expressbootstrap.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="~/Content/vendor/linear-icons/css/linear-icons.min.css">
    <link rel="stylesheet" href="~/Content/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Cube Portfolio CSS -->
    <link href="~/Content/vendor/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/components.css" rel="stylesheet" />
    <link href="~/Content/css/animation.css" rel="stylesheet" />

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/navigation.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/css/skins/default.css"> 

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Content/vendor/modernizr/modernizr.min.js"></script>

    @Html.PageCss()

    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>

    <div class="body">

        @Html.PageContent("Menu")

        <div role="main" class="main">

            @Html.PageContent("PageHeader")

            @RenderBody()

            @Html.PageContent("Footer")

        </div>
    </div>

    <!-- Vendor -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/Content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/common/common.min.js"></script>
    <script src="~/Content/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="~/Content/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/Content/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/Content/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/Content/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/Content/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/vendor/vide/vide.min.js"></script>
    <script src="~/Content/vendor/vivus/vivus.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/Content/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Theme Custom -->
    <script src="~/Content/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Content/js/theme.init.js"></script>
    <!-- Examples -->
    <script src="~/Content/js/examples/examples.portfolio.js"></script>

    <!-- Cube Portfolio -->
    <script src="~/Content/vendor/cubeportfolio/js/jquery.cubeportfolio.js"></script>

    @Html.PageScripts()

</body>
</html>
