@using ExpressMVC.Models.Common
@using ExpressMVC.UI

@Html.ExpressMenu()

@Html.ExpressPageHeader(new PageHeaderModel(title: "Animations"))

@Html.ExpressFooter()

<section class="section">

    <div class="container">

        <!--[if lt IE 10]>
        <div class="alert">
            <strong>Warning!</strong> Animations are not compatible with old Internet Explorer versions.
        </div>
        <![endif]-->

        <div class="row">
            <div class="col">
                <h2 class="mb-0">Animations Shortcodes</h2>
                <p>Add animations in any elements on the page by simply adding a html attribute.</p>

                <hr class="mt-5 pb-5">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounce, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
            </div>
            <div class="col-lg-9">
                <h4>bounce</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.flash, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)

                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="flash" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>flash</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.pulse, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="pulse" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>pulse</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rubberBand, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rubberBand" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rubberBand</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.shake, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="shake" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>shake</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.headShake, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="headShake" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>headShake</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.swing, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="swing" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>swing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.tada, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="tada" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>tada</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.wobble, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="wobble" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>wobble</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.jello, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="jello" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>jello</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceIn, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceIn</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceInDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceInDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceInDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceInLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceInLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceInRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceInRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceInUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceInUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceOut, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceOut" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceOut</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceOutDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceOutDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceOutDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceOutLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceOutLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceOutLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceOutRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceOutRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceOutRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.bounceOutUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="bounceOutUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>bounceOutUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeIn, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeIn</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInDownBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInDownBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInDownBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInLeftBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInLeftBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInLeftBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInRightBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInRightBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInRightBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeInUpBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeInUpBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeInUpBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOut, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOut" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOut</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutDownBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutDownBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutDownBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutLeftBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutLeftBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutLeftBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutRightBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutRightBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutRightBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.fadeOutUpBig, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="fadeOutUpBig" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>fadeOutUpBig</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.flipInX, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="flipInX" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>flipInX</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.flipInY, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="flipInY" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>flipInY</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.flipOutX, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="flipOutX" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>flipOutX</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.flipOutY, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="flipOutY" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>flipOutY</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.lightSpeedIn, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="lightSpeedIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>lightSpeedIn</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.lightSpeedOut, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="lightSpeedOut" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>lightSpeedOut</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateIn, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateIn</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateInDownLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateInDownLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateInDownLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateInDownRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateInDownRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateInDownRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateInUpLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateInUpLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateInUpLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateInUpRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateInUpRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateInUpRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateOut, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateOut" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateOut</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateOutDownLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateOutDownLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateOutDownLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateOutDownRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateOutDownRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateOutDownRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateOutUpLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateOutUpLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateOutUpLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rotateOutUpRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rotateOutUpRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rotateOutUpRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.hinge, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="hinge" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>hinge</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rollIn, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rollIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rollIn</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.rollOut, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="rollOut" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>rollOut</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomIn, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomIn</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomInDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomInDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomInDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomInLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomInLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomInRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomInRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomInRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomInUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomInUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomOut, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomOut" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomOut</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomOutDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomOutDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomOutDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomOutLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomOutLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomOutLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomOutRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomOutRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomOutRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.zoomOutUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="zoomOutUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>zoomOutUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideInDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideInDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">
            </div>
            <div class="col-lg-9">
                <h4>slideInDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideInLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>slideInLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideInRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideInRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>slideInRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideInUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>slideInUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideOutDown, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideOutDown" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>slideOutDown</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideOutLeft, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideOutLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>slideOutLeft</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideOutRight, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideOutRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>slideOutRight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.ExpressAnimation(AnimationType.slideOutUp, @<text>
                <img src="/Content/img/mix/device.png" alt="Express" class="img-fluid" />
                </text>)
                @*<img src="/Content/img/mix/device.png" alt="Express" class="img-fluid appear-animation" data-appear-animation="slideOutUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">*@
            </div>
            <div class="col-lg-9">
                <h4>slideOutUp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                <hr class="mt-5 pb-5">
            </div>
        </div>

    </div>

</section>
