@using ExpressMVC.Models.Shortcodes
@using ExpressMVC.UI

@Html.ExpressMenu()

@Html.ExpressPageHeader("Call To Actions")

@Html.ExpressFooter()



@Html.ExpressCallToAction(new CallToActionModel()
{
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})

<div class="container">
    <div class="row">
        <div class="col">
            @Html.ExpressSpace(Size.Large)
            @Html.ExpressHeading(HTag.h4, new TextElement("Call To Action Sizes"), HeadingStyle.NarrowLine)
            @Html.ExpressSpace(Size.Small)
        </div>
    </div>
</div>

@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { Height = CallToActionHeight.Height1 },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})

@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { Height = CallToActionHeight.Height2 },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})

@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { Height = CallToActionHeight.Height3 },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})

@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { Height = CallToActionHeight.Height4 },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})

@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { Height = CallToActionHeight.Height5 },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})


<div class="container">
    <div class="row">
        <div class="col">
            @Html.ExpressSpace(Size.Large)
            @Html.ExpressHeading(HTag.h4, new TextElement("Call To Action Colors"), HeadingStyle.NarrowLine)
            @Html.ExpressSpace(Size.Small)
        </div>
    </div>
</div>


@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { BGColor = ThemeColor.Primary },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})
@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { BGColor = ThemeColor.Secondary },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})
@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { BGColor = ThemeColor.Tertiary },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})
@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { BGColor = ThemeColor.Quaternary },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})


<div class="container">
    <div class="row">
        <div class="col">
            @Html.ExpressSpace(Size.Large)
            @Html.ExpressHeading(HTag.h4, new TextElement("Call To Action Background"), HeadingStyle.NarrowLine)
            @Html.ExpressSpace(Size.Small)
        </div>
    </div>
</div>


@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { Height = CallToActionHeight.Height3, Src = "/Content/img/mix/custom-bg-1.jpg" },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})

<div class="container">
    <div class="row">
        <div class="col">
            @Html.ExpressSpace(Size.Large)
            @Html.ExpressHeading(HTag.h4, new TextElement("Call To Action Parallax"), HeadingStyle.NarrowLine)
            @Html.ExpressSpace(Size.Small)
        </div>
    </div>
</div>

@Html.ExpressCallToAction(new CallToActionModel()
{
    UIProps = { Height = CallToActionHeight.Height4, Src = "/Content/img/mix/man-look-up.jpg", IsParallax = true },
    Text = "Discover EXPRESS. It's easier than you think.",
    SubText = "Start right now to create an amazing website."
})