@using ExpressMVC.Models.Common
@using ExpressMVC.Models.Shortcodes
@using ExpressMVC.UI

@Html.ExpressMenu()

@Html.ExpressPageHeader(new PageHeaderModel(title: "Icon Boxes"))

@Html.ExpressFooter()

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style1 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style1 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style1 }
                    })
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style1 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style1 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style1 }
                    })
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style2 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style2 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style2 }
                    })
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style3 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style3 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style3 }
                    })
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style4 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style4 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style4, IsSquareIcon = true }
                    })
            </div>
        </div>
    </div>
</section>



<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style5 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style5 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style5, IsSquareIcon = true }
                    })
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style6 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style6 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia nostra..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style6 }
                    })
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style7 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style7 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style7 }
                    })
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style8 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style8 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style8 }
                    })
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style9 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra.",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style9 }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra.",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style9 }
                    })
            </div>
        </div>
    </div>
</section>



<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive", 
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style4, IconColor = ThemeColor.Secondary }
                    })
            </div>
            <div class="col-md-3">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible", 
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style4, IconColor = ThemeColor.Tertiary }
                    })
            </div>
            <div class="col-md-3">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements", 
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia..",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style4, IconColor = ThemeColor.Quaternary }
                    })
            </div>
            <div class="col-md-3">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive", 
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra litora per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel conubia.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style4, IconColor = ThemeColor.Dark }
                    })
            </div>
        </div>
    </div>
</section>



<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style5, IconSize = TextSize.Text_3 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style5, IconSize = TextSize.Text_6 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style5, IconSize = TextSize.Text_9 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style5, IconSize = TextSize.Text_12 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style5, IconSize = TextSize.Text_15 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style5, IconSize = TextSize.Text_18 }
                    })
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style6, IconSize = TextSize.Text_3 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style6, IconSize = TextSize.Text_6 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style6, IconSize = TextSize.Text_9 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style6, IconSize = TextSize.Text_12 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style6, IconSize = TextSize.Text_15 }
                    })
            </div>
            <div class="col-md-2">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Title",
                        Content = "Content Here",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style6, IconSize = TextSize.Text_18 }
                    })
            </div>
        </div>
    </div>
</section>




<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Fully Customizible",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.FontAwesome.Cog,
                        UIProps = { Style = IconBoxStyle.Style3, IsIconBoxReverse = true }
                    })
            </div>
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Incredibly Responsive",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.FontAwesome.Fire,
                        UIProps = { Style = IconBoxStyle.Style1, IsIconBoxReverse = true }
                    })
            </div> 
            <div class="col-md-4">
                @Html.ExpressIconBox(
                    new IconBoxModel()
                    {
                        Title = "Interactive Elements",
                        SubTitle = "LOREM IPSUM DOLOR SIT",
                        Content = "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.",
                        Icon = Icons.LinearIcon.Diamond,
                        UIProps = { Style = IconBoxStyle.Style4, IsIconBoxReverse = true }
                    })
            </div>
        </div>
    </div>
</section>


