@using ExpressMVC.Models.Common
@using ExpressMVC.Models.Shortcodes
@using ExpressMVC.UI

@Html.ExpressMenu()

@Html.ExpressPageHeader(new PageHeaderModel(title: "Tabs"))

@Html.ExpressFooter()

@{
    var tabItem = new TabItemModel();
    tabItem.Title = "Awards";
    tabItem.Content = @<text>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/img/mix/build.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <p class="mb-0">
                    Aliquam erat volutpat. Etiam tortor sapien, elementum quis semper eu,
                    convallis eget justo. Nulla facilisi. Curabitur cursus vestibulum turpis
                    eget sagittis. Phasellus tempus semper tellus, sed ullamcorper libero sodales a.
                    Fusce vulputate varius quam. Curabitur erat orci, gravida eu tempus sed,
                    pretium non ante. Vestibulum augue nisi, vulputate pellentesque posuere id,
                    gravida et est. Suspendisse vestibulum scelerisque metus, ut bibendum lorem
                    pharetra nec etiam sed neque massa.
                </p>
            </div>
        </div>
    </text>;
    tabItem.IsActive = true;

    var tabItem2 = new TabItemModel();
    tabItem2.Title = "Celebrations";
    tabItem2.Content = @<text>
    <div class="row">
        <div class="col-sm-6">
            <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris
                sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim.
                Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in
                nulla ut elit mollis posuere. Praesent a felis accumsan neque interdum molestie ut id
                massa. In hac habitasse platea dictumst. Nulla ut lorem ante. In convallis, felis eget
                consequat faucibus, mi diam consequat augue, quis porta nibh leo a massa. Sed quam nunc,
                vulputate vel imperdiet vel, aliquet sit amet risus. Maecenas nec tempus velit.
                Praesent gravida mi et mauris sollicitudin ultricies. Duis molestie quam sem, ac
                faucibus velit. Curabitur dolor dolor, fringilla vel fringilla tempor, ultricies sed
                tellus. Cras aliquet, nulla a feugiat adipiscing, mi enim ornare nisl, eu pellentesque
                nunc diam eu purus. Aliquam a arcu ac arcu aliquam vulputate ac a diam.
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris
                sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim.
                Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in
                nulla ut elit mollis posuere. Praesent a felis accumsan neque interdum molestie ut
                id massa. In hac habitasse platea dictumst. Nulla ut lorem ante. In convallis, felis
                eget consequat faucibus, mi diam consequat augue, quis porta nibh leo a massa. Sed
                quam nunc, vulputate vel imperdiet vel, aliquet sit amet risus. Maecenas nec tempus
                velit. Praesent gravida mi et mauris sollicitudin ultricies. Duis molestie quam sem,
                ac faucibus velit. Curabitur dolor dolor, fringilla vel fringilla tempor, ultricies
                sed tellus. Cras aliquet, nulla a feugiat adipiscing, mi enim ornare nisl, eu pellentesque
                nunc diam eu purus. Aliquam a arcu ac arcu aliquam vulputate ac a diam.
            </p>
        </div>
    </div>
    </text>;

    var tabItem3 = new TabItemModel();
    tabItem3.Title = "Events";
    tabItem3.Content = @<text>
    <div class="row">
        <div class="col-sm-12">
            <p>
                Aliquam erat volutpat. Etiam tortor sapien, elementum quis semper eu, convallis eget justo.
                Nulla facilisi. Curabitur cursus vestibulum turpis eget sagittis. Phasellus tempus semper
                tellus, sed ullamcorper libero sodales a. Fusce vulputate varius quam. Curabitur erat orci,
                gravida eu tempus sed, pretium non ante. Vestibulum augue nisi, vulputate pellentesque
                posuere id, gravida et est. Suspendisse vestibulum scelerisque metus, ut bibendum lorem
                pharetra nec. Phasellus vitae faucibus nisi. Aliquam erat volutpat. Etiam sed neque massa.
                Pellentesque at augue sed neque faucibus tincidunt sit amet nec nisl. Aliquam erat volutpat.
                Etiam tortor sapien, elementum quis semper eu, convallis eget justo. Nulla facilisi.
                Curabitur cursus vestibulum turpis eget sagittis.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis
                mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim.
                Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in
                nulla ut elit mollis posuere. Praesent a felis accumsan neque interdum molestie ut id
                massa. In hac habitasse platea dictumst. Nulla ut lorem ante. In convallis, felis eget
                consequat faucibus, mi diam consequat augue, quis porta nibh leo a massa. Sed quam nunc,
                vulputate vel imperdiet vel, aliquet sit amet risus. Maecenas nec tempus velit. Praesent
                gravida mi et mauris sollicitu.
            </p>
        </div>
    </div>
    </text>;

    var items = new List<TabItemModel>() { tabItem, tabItem2, tabItem3 };
}

<section class="section">
    <div class="container">
        <div class="row"> 
            <div class="col-md-8 col-lg-9 order-1">
                <div class="row">

                    <div class="col-md-12">
                        <h4 class="mb-4">Default</h4>

                        @Html.ExpressTab(new TabModel() { Items = items })

                    </div>
                    <div class="col-md-12">
                        <h4 class="mb-4 mt-9">Centered</h4>

                        @Html.ExpressTab(new TabModel() { Items = items, Alignment = Alignment.Center })

                    </div>
                    <div class="col-md-12">
                        <h4 class="mb-4 mt-9">End</h4>

                        @Html.ExpressTab(new TabModel() { Items = items, Alignment = Alignment.Right })

                    </div>
                </div>
                <div class="row">

                    <div class="col">
                        <hr class="mt-5 mb-5">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <h4 class="mb-4 mt-9">Minimal</h4>

                        @Html.ExpressTab(new TabModel() { Items = items, Style = TabStyle.Minimal })

                    </div>
                    <div class="col-md-12">
                        <h4 class="mb-4 mt-9">Vertical</h4>
                        <div class="row">

                            @Html.ExpressTab(new TabModel() { Items = items, IsVertical = true })

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 order-2">
                @Html.ExpressSidebar(name: "ShortcodeMenu")
            </div>
        </div>
    </div>
</section>