@model ExpressMVC.Models.Common.HeaderModel

@using (Html.BeginContent("Menu"))
{
    <header id="header" class="header-effect-shrink header-with-borders @Model.GetTransparencyClass()" data-plugin-options="{ @Model.GetPluginOptions() }">
        <div class="header-body">

            @if (Model.Topbar.ShowTopbar)
            {
                @Html.Partial(String.Format("Headers/{0}", Model.Topbar.Name), Model.Topbar)
            }

            <div class="header-container @Model.GetFullWidthClass()">
                <div class="header-row">
                    <div class="header-column justify-content-start">
                        <div class="header-logo px-4">
                            <a href="@Url.Action("Index", "Home")">
                                <img alt="@Model.Logo.Alt" width="@Model.Logo.Width" height="@Model.Logo.Height" src="@Model.GetLogoSrc()">
                            </a>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-nav @Model.GetNavigationClass()">
                            <div class="header-nav-main header-nav-main-uppercase header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                @Html.Partial("Headers/_Menu")
                            </div>
                        </div>
                        <div class="header-search-expanded container">
                            <form method="GET">
                                <div class="input-group bg-light border">
                                    <input type="text" class="form-control text-4" name="s" placeholder="I'm looking for..." aria-label="I'm looking for...">
                                    <span class="input-group-btn">
                                        <button class="btn" type="submit"><i class="lnr lnr-magnifier text-color-dark"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>

                        <div class="header-button d-none d-sm-flex ml-3 px-4">
                            <a href="https://wrapbootstrap.com/theme/express-business-website-template-WB0TR1711" class="btn btn-outline btn-rounded btn-primary btn-4 btn-icon-effect-1 border-r-0" target="_blank">
                                <span class="wrap">
                                    <span>BUY ME</span>
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                            </a>
                            <a href="#" class="header-search-button order-1 text-5 d-none d-sm-block mt-1 mr-xl-2 ml-3">
                                <i class="lnr lnr-magnifier"></i>
                            </a>
                        </div>
                        <button class="header-btn-collapse-nav ml-3" data-toggle="collapse" data-target=".header-nav-main nav">
                            <span class="hamburguer">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="close">
                                <span></span>
                                <span></span>
                            </span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </header>
}