@model ExpressMVC.Models.Common.PageHeaderModel
@using ExpressMVC.UI

@{
    string bgColorClass = string.Empty;
    switch (Model.UIProps.BGColor)
    {
        case ThemeColor.Primary:
            bgColorClass = "page-header-primary";
            break;
        case ThemeColor.Secondary:
            bgColorClass = "page-header-secondary";
            break;
        case ThemeColor.Tertiary:
            bgColorClass = "page-header-tertiary";
            break;
        case ThemeColor.Quaternary:
            bgColorClass = "page-header-quaternary";
            break;
        case ThemeColor.Dark:
            bgColorClass = "page-header-dark page-header-text-light";
            break;
        default:
            break;
    }
    
    if (Model.UIProps.Overlay != null)
    {
        Model.ClassName += " " + Model.UIProps.Overlay.GetCSSClass();
    }
}

@using (Html.BeginContent("PageHeader"))
{
    if (Model.UIProps.Type == PageHeaderType.LeftAlignment)
    {
        <section class="page-header @bgColorClass @Model.ClassName">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8 text-left">
                        <span class="tob-sub-title text-color-primary d-block">@Model.TopSubTitle</span>
                        <h1>@Model.Title</h1>
                        <p class="lead">@Model.Lead</p>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Features</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    }
    else if (Model.UIProps.Type == PageHeaderType.CenterAlignment)
    {
        <section class="page-header @bgColorClass @Model.ClassName">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Features</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>@Model.Title</h1>
                        <p class="lead">@Model.Lead</p>
                    </div>
                </div>
            </div>
        </section>
    }
    else if (Model.UIProps.Type == PageHeaderType.RightAlignment)
    {
        <section class="page-header @bgColorClass @Model.ClassName">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <ul class="breadcrumb justify-content-start">
                            <li><a href="#">Home</a></li>
                            <li class="active">Features</li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <span class="tob-sub-title text-color-primary d-block">@Model.TopSubTitle</span>
                        <h1>@Model.Title</h1>
                        <p class="lead">@Model.Lead</p>
                    </div>
                </div>
            </div>
        </section>
    }
    else if (Model.UIProps.Type == PageHeaderType.Mini)
    {
        <section class="page-header @bgColorClass py-3 @Model.ClassName">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8 text-left">
                        <h1 class="font-weight-bold">@Model.Title</h1>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Features</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    }
    else if (Model.UIProps.Type == PageHeaderType.VideoBackground)
    {
        <section class="page-header page-header-text-light section-video bg-transparent @Model.ClassName" data-video-path="@Model.Src" data-plugin-video-background data-plugin-options="{'posterType': 'jpg', 'position': '50% 50%', 'overlay': true}">
            <div class="container d-flex flex-column">
                <div class="row align-items-center position-relative min-height-370 z-index-10">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">
                                <ul class="breadcrumb justify-content-start">
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Features</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-12 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <h1>@Model.Title</h1>
                                <p class="lead">@Model.Lead</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else if (Model.UIProps.Type == PageHeaderType.Parallax)
    {
        <section class="page-header parallax page-header-text-light @Model.ClassName" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="@Model.Src">
            <div class="container d-flex flex-column">
                <div class="row align-items-center position-relative min-height-370 z-index-10">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">
                                <ul class="breadcrumb justify-content-start">
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Features</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-12 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <h1 class="text-10 font-weight-semibold mb-2">@Model.Title</h1>
                                <p class="lead">@Model.Lead</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else if (Model.UIProps.Type == PageHeaderType.CustomBackground)
    {
        <section class="page-header page-header-text-light @Model.ClassName" data-plugin-image-background data-plugin-options="{'imageUrl': '@Model.Src'}">
            <div class="container d-flex flex-column">
                <div class="row align-items-center position-relative min-height-370 z-index-10">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">
                                <ul class="breadcrumb justify-content-start">
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Features</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-12 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <h1>@Model.Title</h1>
                                <p class="lead">@Model.Lead</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    }
}