@model ExpressMVC.Models.Blog.BlogPostModel
@using ExpressMVC.Models.Common
@using ExpressMVC.UI

@Html.ExpressMenu()

@Html.ExpressPageHeader(
    new PageHeaderModel(title: Model.Title)
    {
        TopSubTitle = "OUR BLOG"
    })

<section class="section">
    <div class="container">
        <div class="row">
        
            <div class="col-md-4 col-lg-4 order-2 pl-lg-5">
                @Html.ExpressSidebar(name: "BlogSidebar")
            </div>

            <div class="col-md-8 col-lg-8 order-1 mb-5 mb-md-0">
                <article class="blog-post mb-4">
                    <header class="blog-post-header mb-3">
                        <img src="~/Content/img/blog/x5.jpg" class="img-fluid" alt="" />
                    </header>

                    <div class="d-flex mb-3">
                        <span class="post-date text-color-primary pr-3"> @Model.CreatedOn.ToString() </span>
                        <span class="post-likes d-flex align-items-center border border-top-0 border-bottom-0 px-3">
                            <i class="lnr lnr-heart text-3 mr-1"></i> 5
                        </span>
                        <a href="#comments" data-hash data-hash-offset="100">
                            <span class="post-comments d-flex align-items-center px-3">
                                <i class="lnr lnr-bubble text-3 mr-1"></i> @Model.Comments.Count
                            </span>
                        </a>
                    </div>
                
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada malesuada
                        metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet vulputate metus. Nullam eget
                        rutrum nisl. Sed tincidunt lorem sed maximus interdum. Interdum et malesuada fames ac ante ipsum primis
                        in faucibus. Aenean scelerisque efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                    </p>
                    <p class="mb-4">
                        Integer id metus sit amet turpis facilisis ullamcorper. Sed
                        <a href="#" class="link text-color-primary">tellus tellus</a>, elementum ac mauris in, venenatis
                        consectetur est. Praesent condimentum ut erat sit amet bibendum. Morbi sit amet commodo est. Donec arcu
                        nulla, pellentesque at mi in, fringilla tincidunt risus. Nunc finibus pellentesque diam in tincidunt.
                        Nulla cursus fermentum neque quis consequat. Maecenas non augue id dui placerat tempor. Duis maximus
                        commodo dui a viverra. Fusce nunc augue, pharetra in sem sed, maximus commodo nisl. Vivamus molestie
                        nisl eu gravida dapibus. Integer ac lacus laoreet, dictum sem sit amet, volutpat turpis. Nulla molestie
                        metus nec nibh vestibulum, vitae porta felis vehicula. Curabitur volutpat, libero eget fermentum ultricies,
                        velit purus luctus arcu, sit amet vulputate dui magna nec nulla.
                    </p>
                    <blockquote class="blockquote blockquote-style-2 text-3 mb-4">
                        <p class="mb-4 font-tertiary font-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Curabitur malesuada malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit
                            amet vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum.
                        </p>
                    </blockquote>
                    <p>
                        Vestibulum accumsan finibus eros sit amet egestas. Vestibulum at quam faucibus, sollicitudin erat et,
                        iaculis massa. Nulla facilisi. Donec lacinia nec erat sed tincidunt. Proin nec velit eros. Duis varius
                        gravida odio, sed posuere turpis ornare non. Nulla facilisi. Cras posuere feugiat urna, non faucibus turpis
                        volutpat elementum. Suspendisse in posuere magna. Pellentesque tempor aliquam tempus. Morbi blandit elementum
                        ipsum, in rhoncus eros venenatis non. Pellentesque tempor turpis id odio viverra,
                        id blandit metus congue. Aliquam sed odio lacus.
                    </p>
                
                    <footer class="blog-post-footer border border-left-0 border-right-0 py-4 mt-5">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-sm-auto mb-3 mb-sm-0 mb-md-3 mb-lg-0">
                                <ul class="list-inline mb-0">
                                    @foreach (var tag in Model.Tags)
                                    {
                                        <li class="list-inline-item"><a href="#" class="badge badge-light badge-sm badge-pill px-3 py-2">@tag.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="col-12 col-sm-auto">
                                <div class="d-flex align-items-center">
                                    <span class="text-2">SHARE THIS POST</span>
                                    <ul class="social-icons social-icons-light social-icons-1 ml-3">
                                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </article>

                <div class="row">
                    <div class="col">
                        <span class="top-sub-title">ABOUT THE AUTHOR</span>
                        <div class="icon-box icon-box-style-1 align-items-center mt-3">
                            <div class="icon-box-icon">
                                <img src="~/Content/img/team/team01.jpg" class="img-fluid rounded-circle mr-2" alt="" />
                            </div>
                            <div class="icon-box-info">
                                <div class="icon-box-info-title">
                                    <h4 class="font-weight-bold line-height-1 mb-1">John Doe</h4>
                                    <p class="text-1 mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                        quis nostrud ullamco laboris nisi ut aliquip ex ea consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="mt-4 mb-5">

                <div class="row">
                    <div class="col-12">
                        <h2 class="font-weight-bold text-3 mb-4">RELATED POSTS</h2>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <a href="blog-single-post.html">
                            <div class="card card-style-5 bg-light-5 rounded border-0 p-3" data-plugin-image-background data-plugin-options="{'imageUrl': 'img/blog/posts/post-1-square.jpg'}">
                                <div class="card-body p-4">
                                    <h3 class="font-weight-bold text-4 mb-1">Amazing Space</h3>
                                    <p>
                                        <i class="far fa-clock mt-1 text-color-primary"></i>
                                        <time class="font-tertiary text-1" datetime="2018-01-16">Jan 17, 2018</time>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="text-color-dark font-weight-semibold mb-0">
                                        <img src="~/Content/img/team/team01.jpg" class="img-thumbnail-small rounded-circle d-inline-block mr-2" width="25" height="25" alt="" />
                                        by Bob Doe
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <a href="blog-single-post.html">
                            <div class="card card-style-5 bg-light-5 rounded border-0 p-3" data-plugin-image-background data-plugin-options="{'imageUrl': 'img/blog/posts/post-2-square.jpg'}">
                                <div class="card-body p-4">
                                    <h3 class="font-weight-bold text-4 mb-1">Getting Ready</h3>
                                    <p>
                                        <i class="far fa-clock mt-1 text-color-primary"></i>
                                        <time class="font-tertiary text-1" datetime="2018-01-15">Jan 16, 2018</time>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="text-color-dark font-weight-semibold mb-0">
                                        <img src="~/Content/img/team/team01.jpg" class="img-thumbnail-small rounded-circle d-inline-block mr-2" width="25" height="25" alt="" />
                                        by John Doe
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <a href="blog-single-post.html">
                            <div class="card card-style-5 bg-light-5 rounded border-0 p-3" data-plugin-image-background data-plugin-options="{'imageUrl': 'img/blog/posts/post-3-square.jpg'}">
                                <div class="card-body p-4">
                                    <h3 class="font-weight-bold text-4 mb-1">Cool Hobbies</h3>
                                    <p>
                                        <i class="far fa-clock mt-1 text-color-primary"></i>
                                        <time class="font-tertiary text-1" datetime="2018-01-14">Jan 15, 2018</time>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="text-color-dark font-weight-semibold mb-0">
                                        <img src="~/Content/img/team/team01.jpg" class="img-thumbnail-small rounded-circle d-inline-block mr-2" width="25" height="25" alt="" />
                                        by Jessica Doe
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <hr class="my-5">

                <div id="comments" class="row mb-5">
                    <div class="col">
                        <h2 class="font-weight-bold text-3">COMMENTS (3)</h2>
                        <ul class="comments">
                            <li>
                                <div class="comment">
                                    <div class="d-none d-sm-block">
                                        <img class="avatar rounded-circle" alt="" src="~/Content/img/avatars/a1.jpeg">
                                    </div>
                                    <div class="comment-block">
                                        <span class="comment-by">
                                            <strong class="comment-author text-color-dark text-3">Robert Doe</strong> 
                                        </span>
                                        <p class="comment-date text-color-primary">MARCH 5, 2018 at 2:28 pm</p> 
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                    <span class="comment-reply"><a href="#" class="opacity-8">REPLY</a></span>
                                    </div>
                                </div>

                                <ul class="comments reply">
                                    <li>
                                        <div class="comment">
                                            <div class="d-none d-sm-block">
                                                <img class="avatar rounded-circle" alt="" src="~/Content/img/avatars/a1.jpeg">
                                            </div>
                                            <div class="comment-block">
                                                <span class="comment-by">
                                                    <strong class="comment-author text-color-dark text-3">Jessica Doe</strong>
                                                    <span class="comment-date text-color-light-3">MARCH 5, 2018 at 2:28 pm</span>
                                                    <span class="comment-reply"><a href="#" class="opacity-8">REPLY</a></span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="d-none d-sm-block">
                                                <img class="avatar rounded-circle" alt="" src="~/Content/img/avatars/a1.jpeg">
                                            </div>
                                            <div class="comment-block">
                                                <span class="comment-by">
                                                    <strong class="comment-author text-color-dark text-3">John Doe</strong>
                                                    <span class="comment-date text-color-light-3">MARCH 5, 2018 at 2:28 pm</span>
                                                    <span class="comment-reply"><a href="#" class="opacity-8">REPLY</a></span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="d-none d-sm-block">
                                        <img class="avatar rounded-circle" alt="" src="~/Content/img/avatars/a1.jpeg">
                                    </div>
                                    <div class="comment-block">
                                        <span class="comment-by">
                                            <strong class="comment-author text-color-dark text-3">John Doe</strong>
                                            <span class="comment-date text-color-light-3">MARCH 5, 2018 at 2:28 pm</span>
                                            <span class="comment-reply"><a href="#" class="opacity-8">REPLY</a></span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="d-none d-sm-block">
                                        <img class="avatar rounded-circle" alt="" src="~/Content/img/avatars/a1.jpeg">
                                    </div>
                                    <div class="comment-block">
                                        <span class="comment-by">
                                            <strong class="comment-author text-color-dark text-3">Jessica Doe</strong>
                                            <span class="comment-date text-color-light-3">MARCH 5, 2018 at 2:28 pm</span>
                                            <span class="comment-reply"><a href="#" class="opacity-8">REPLY</a></span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="#leavecomment" class="row">
                    <div class="col">
                        <h2 class="font-weight-bold text-3 mb-3">LEAVE A COMMENT</h2>
                        <form class="form-style-2" action="#" method="post">
                            <div class="form-row">
                                <div class="form-group col">
                                    <textarea class="form-control bg-light-5 border-0 rounded-0" placeholder="Comment" rows="6" name="comment" required></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" value="" class="form-control border-0 rounded-0" name="name" placeholder="Name" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="email" value="" class="form-control border-0 rounded-0" name="email" placeholder="E-mail" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" value="" class="form-control border-0 rounded-0" name="website" placeholder="Website">
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col">
                                    <input type="submit" value="POST COMMENT" class="btn btn-primary btn-rounded btn-h-2 btn-v-2 font-weight-bold text-0">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.ExpressFooter()