@model ExpressMVC.Models.Shortcodes.CallToActionModel
@using ExpressMVC.UI


@{
    string heightClass = string.Empty;
    switch (Model.UIProps.Height)
    {
        case CallToActionHeight.Default:
            heightClass = "call-to-action-height-2";
            break;
        case CallToActionHeight.Height1:
            heightClass = "call-to-action-height-1";
            break;
        case CallToActionHeight.Height2:
            heightClass = "call-to-action-height-2";
            break;
        case CallToActionHeight.Height3:
            heightClass = "call-to-action-height-3";
            break;
        case CallToActionHeight.Height4:
            heightClass = "call-to-action-height-4";
            break;
        case CallToActionHeight.Height5:
            heightClass = "call-to-action-height-5";
            break;
        default:
            break;
    }

    string bgColor = string.Empty;
    switch (Model.UIProps.BGColor)
    {
        case ThemeColor.Default:
            bgColor = "bg-light-5";
            break;
        case ThemeColor.Primary:
            bgColor = "bg-primary call-to-action-text-light";
            break;
        case ThemeColor.Secondary:
            bgColor = "bg-secondary call-to-action-text-light";
            break;
        case ThemeColor.Tertiary:
            bgColor = "bg-tertiary call-to-action-text-light";
            break;
        case ThemeColor.Quaternary:
            bgColor = "bg-primary-2 call-to-action-text-light";
            break;
        case ThemeColor.Dark:
            bgColor = "bg-dark call-to-action-text-light";
            break;
        default:
            break;
    }
}

@if (String.IsNullOrEmpty(Model.UIProps.Src))
{
    <section class="section call-to-action bg-light-5 mt-2 mb-2 @bgColor @heightClass @Model.ClassName">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <div class="call-to-action-content text-center text-md-left appear-animation" data-appear-animation="fadeInLeftShorter">
                        <h2 class="font-weight-semibold">@Model.Text</h2>
                        @if (!String.IsNullOrEmpty(Model.SubText))
                        {
                            <p class="font-weight-light mb-0">@Model.SubText</p>
                        }
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
                        @if (Model.UIProps.BGColor != ThemeColor.Default)
                        {
                            <a href="#" class="btn btn-outline btn-rounded btn-light btn-4 btn-h-3 btn-icon-effect-1">
                                <span class="wrap">
                                    <span>BUY EXPRESS NOW</span>
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                            </a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-outline btn-rounded btn-primary btn-4 btn-h-3 btn-icon-effect-1">
                                <span class="wrap">
                                    <span>BUY EXPRESS NOW</span>
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    if (Model.UIProps.IsParallax)
    {
        <section class="parallax section call-to-action call-to-action-text-light  mt-2 mb-2 @heightClass @Model.ClassName" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="@Model.UIProps.Src">
            <span class="text-background font-primary font-weight-bold appear-animation" data-appear-animation="textBgFadeInUp" data-appear-animation-delay="800">IT'S EASY</span>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="call-to-action-content text-center text-md-left appear-animation" data-appear-animation="fadeInLeftShorter">
                            <h2 class="font-weight-semibold">@Model.Text</h2>
                            @if (!String.IsNullOrEmpty(Model.SubText))
                            {
                                <p class="font-weight-light mb-0">@Model.SubText</p> 
                            }  
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
                            <a href="https://wrapbootstrap.com/theme/express-business-website-template-WB0TR1711" target="_blank" 
                               class="btn btn-light btn-rounded btn-3 btn-icon-effect-1 btn-h-5 btn-v-4">
                                <span class="wrap">
                                    <span>BUY EXPRESS NOW</span>
                                    <strong class="font-weight-semibold">$16</strong>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="section section-background call-to-action @heightClass @Model.ClassName" data-plugin-image-background data-plugin-options="{'imageUrl': '@Model.UIProps.Src'}">
            <div class="container">
                <div class="row">
                    <div class="col-12 justify-content-center mb-3">
                        <div class="call-to-action-content text-center appear-animation" data-appear-animation="fadeInLeftShorter">
                            <h2 class="font-weight-semibold text-color-light">@Model.Text</h2>
                            @if (!String.IsNullOrEmpty(Model.SubText))
                            {
                                <p class="font-weight-light text-color-light mb-0">@Model.SubText</p>
                            } 
                        </div>
                    </div>
                    <div class="col-12 justify-content-center">
                        <div class="call-to-action-btn text-center mt-3 appear-animation" data-appear-animation="fadeInRightShorter">
                            <a href="https://wrapbootstrap.com/theme/express-business-website-template-WB0TR1711" target="_blank" 
                               class="btn btn-light btn-rounded btn-3 btn-icon-effect-1 btn-h-5 btn-v-4">
                                <span class="wrap">
                                    <span>BUY EXPRESS NOW</span>
                                    <strong class="font-weight-semibold">$16</strong>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}