@model TabModel
@using ExpressMVC.Models.Shortcodes
@using ExpressMVC.UI

@{
    string aligmentClass = string.Empty;
    switch (Model.Alignment)
    {
        case ExpressMVC.UI.Alignment.Left:
            break;
        case ExpressMVC.UI.Alignment.Right:
            aligmentClass = "nav-tabs-end";
            break;
        case ExpressMVC.UI.Alignment.Center:
            aligmentClass = "nav-tabs-centered";
            break;
        default:
            break;
    }

    string tabStyleClass = string.Empty;
    switch (Model.Style)
    {
        case TabStyle.Default:
            tabStyleClass = "nav-tabs-default";
            break;
        case TabStyle.Minimal:
            tabStyleClass = "nav-tabs-minimal";
            break;
        default:
            break;
    }

    string currentId = "TabId_" + Guid.NewGuid().ToString();
}


@if (!Model.IsVertical)
{
    <ul class="nav nav-tabs @tabStyleClass @aligmentClass " role="tablist">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];

            var tabId = currentId + i.ToString();
            var hrefId = (tabId + i.ToString());
            string activeClass = item.IsActive ? "active" : string.Empty;
            <li class="nav-item">
                <a class="nav-link @activeClass" id="@tabId" data-toggle="tab" href="#@hrefId" role="tab" aria-controls="@hrefId" aria-expanded="true">@item.Title</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];

            var tabId = currentId + i.ToString();
            var hrefId = (tabId + i.ToString());
            string activeClass = item.IsActive ? "show active" : string.Empty;

            <div class="tab-pane fade @activeClass" id="@hrefId" role="tabpanel" aria-labelledby="@tabId">
                @Html.Raw(item.Content(null).ToHtmlString())
            </div>
        }
    </div>
}
else
{
    <div class="col-md-4">
        <ul class="nav nav-tabs flex-column nav-tabs-vertical @tabStyleClass @aligmentClass " role="tablist">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                var tabId = currentId + i.ToString();
                var hrefId = (tabId + i.ToString());
                string activeClass = item.IsActive ? "active" : string.Empty;
                <li class="nav-item">
                    <a class="nav-link @activeClass" id="@tabId" data-toggle="tab" href="#@hrefId" role="tab" aria-controls="@hrefId" aria-expanded="true">@item.Title</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content nav-tabs-vertical-content">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                var tabId = currentId + i.ToString();
                var hrefId = (tabId + i.ToString());
                string activeClass = item.IsActive ? "show active" : string.Empty;

                <div class="tab-pane fade @activeClass" id="@hrefId" role="tabpanel" aria-labelledby="@tabId">
                    @Html.Raw(item.Content(null).ToHtmlString())
                </div>
            }
        </div>
    </div>
}