@model ExpressMVC.Models.Shortcodes.TestimonialsModel
@using ExpressMVC.UI


@if (Model.UIProps.Style == TestimonialStyle.Style1)
{
    <div class="row align-items-center">
        <div class="col-md-2 ml-auto">
            <div class="testimonial-author-image">
                <img src="@Model.PhotoSrc" class="img-fluid rounded-circle" alt="" />
            </div>
        </div>
        <div class="col-md-9 mr-auto pl-4">
            <div class="testimonial testimonial-style-1">
                <blockquote>
                    <p>" @Html.Raw(Model.Description) "</p>
                </blockquote>
                <div class="testimonial-author">
                    <span>
                        <strong>- @Model.Name</strong>
                        <span>@Model.Position</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.UIProps.Style == TestimonialStyle.Style2)
{
    <div class="row align-items-center justify-content-center">
        <div class="col-md-9 text-center">
            <div class="testimonial testimonial-style-1">
                <blockquote>
                    <p>" @Html.Raw(Model.Description) "</p>
                </blockquote>
                <div class="testimonial-author mb-4">
                    <span>
                        <strong>- @Model.Name</strong>
                        <span>@Model.Position</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.UIProps.Style == TestimonialStyle.Style3)
{
    <div class="text-center mb-4">
        <div class="testimonial testimonial-style-2">
            <div class="card card-style-2 card-style-3 text-center mt-5">
                <div class="testimonial-author-image">
                    <img src="@Model.PhotoSrc" class="card-img-top border-light-5" alt="" />
                </div>
                <div class="card-body p-5">
                    <blockquote class="font-style-italic text-3 m-0 p-0 mt-4">" 
                    @Html.Raw(Model.Description)
                    "</blockquote>
                    <div class="testimonial-author mt-4">
                        <span>
                            <strong class="text-3">@Model.Name</strong>
                            <span>@Model.Position</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.UIProps.Style == TestimonialStyle.Style4)
{
    <div class="text-center mb-4">
        <div class="testimonial testimonial-style-3">
            <div class="card bg-primary rounded text-light border-0">
                <div class="card-body p-4">
                    <p class="m-0 p-2 text-light text-2">" @Html.Raw(Model.Description) "</p>
                </div>
            </div>
            <div class="testimonial-arrow bg-primary mb-4"></div>
            <div class="testimonial-author-image">
                <img src="@Model.PhotoSrc" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="testimonial-author mt-2">
                <span>
                    <strong class="text-3">@Model.Name</strong>
                    <span>@Model.Position</span>
                </span>
            </div>
        </div>
    </div>
}
else if (Model.UIProps.Style == TestimonialStyle.Style5)
{
    <div class="row align-items-center justify-content-center">
        <div class="col-md-9 text-center">
            <div class="testimonial testimonial-style-1">
                <blockquote>
                    <p class="text-light">" @Html.Raw(Model.Description) "</p>
                </blockquote>
                <div class="testimonial-author mb-4">
                    <span>
                        <strong class="text-light">@Model.Name</strong>
                        <span class="text-light">@Model.Position</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}